[2015-02-07 21:05] mikeal opened #1 "Welcome!"
Welcome, new localizations team :)

To get this team up and running you have a few initial tasks to accomplish:
- Create a README.md for this repository, it should include:
  - A "call to action" pointing to the Issue tracker for new translators to find tasks.
  - A list of the team members.
  - Instructions on how to log an issue to be added to this team.
- Set the repository description. This sh

[2015-02-07 23:04] gustavohenke commented on #1
- [x] Members list
- [x] Twitter account: https://twitter.com/iojs_pt
- [x] Repository description
- [x] Instructions on how to become a member
- [x] Instructions on how to find tasks
- [x] Blog post: #5

[2015-02-08 01:07] gustavohenke opened #3 "Perfis de redes sociais"
Quais perfis de redes sociais devemos utilizar?
Por exemplo, página no Facebook, Google+, alguma outra sugestão?
- Twitter: https://twitter.com/iojs_pt

[2015-02-08 01:08] gustavohenke opened #4 "Plataforma de blog"
Qual plataforma de blog devemos utilizar?
Algumas sugestões:
- Ghost (deve ser hospedado)
- Wordpress.com
- GitHub pages
  - [Jekyll](http://jekyllrb.com)
  - [Hexo](http://hexo.io/)
- Medium

[2015-02-08 01:10] ericdouglas commented on #4
- GitHub pages (usando Hexo)

[2015-02-08 01:10] gustavohenke opened #5 "Tradução "io.js Week of February 6th 2015""
~~**Atenção:** é necessário pensar antes qual a plataforma de blog que será usada. Veja issue #4 para esta discussão.~~

Link para o post a ser traduzido:
https://medium.com/node-js-javascript/io-js-week-of-february-6th-2015-e185388549a4

[2015-02-08 01:14] ericdouglas opened #6 "Divisão pt-br / pt-pt"
Devemos definir como será feita essa divisão.

Sugestões?

[2015-02-08 01:14] gustavohenke commented on #4
Eu pessoalmente prefiro algo que diminua a possibilidade de erro entre os diversos colaboradores do projeto. Para que todos sejam capazes de ajudar sem muitas dificuldades.

Isto significa usar ou Wordpress.com ou Medium.

[2015-02-08 01:17] ericdouglas commented on #4
Ótimo @gustavohenke , assim podemos focar no conteúdo!

Voto no Medium!

[2015-02-08 01:20] rogeriopvl commented on #4
+1 para o medium

[2015-02-08 01:53] danilovaz commented on #3
Acredito que Twitter e Facebook sejam suficientes. São as que mais têm peso e poder de divulgação.

[2015-02-08 01:55] danilovaz commented on #4
+1 Medium

Além de ser fácil editar e ter uma interface muito usual; o Medium já se tornou uma big referência para desenvolvedores procurarem bons conteúdos.

[2015-02-08 01:58] danilovaz commented on #6
Acho importante essa divisão. O padrão mais utilizado tanto em docs traduzidas quanto em qualquer coisa que se refira a idioma na web é pt-pt e pt-br

[2015-02-08 04:27] ruimarinho commented on #6
Em termos de documentação, no repositório do website já existe uma separação entre pt-pt e pt-br. Em termos de organização de issues, penso que temos de discutir em comunidade porque o mesmo contexto se aplica a `iojs-es`(es-ES, es-MX, etc). O ideal, na minha opinião, era conseguirmos uniformizar este aspecto.

Particularmente no caso da comunidade (conferências, palestras, etc) essa distinção se

[2015-02-08 04:29] ruimarinho commented on #4
+1 para Medium.

[2015-02-08 04:32] ruimarinho commented on #3
Para já ficava pelo Twitter apenas. Até termos conteúdo e comunidade, não considero que seja necessária página do Facebook.

[2015-02-08 04:36] danilovaz commented on #6
@ruimarinho a troca dei ideias é realmente importante, o "problema" é que as duas linguas por mais que a base seja a mesma, existem pequenas diferenças e isso no âmbito mais técnico deve ser levado em consideração. Mas nada impede de ter essa troca de ideias, claro.

[2015-02-08 04:41] ruimarinho commented on #6
De acordo. Podíamos começar por ter, p.e., um README na root a apontar para `pt-BR/README.md` e `pt-PT/README.md`.

[2015-02-08 06:03] gtramontina commented on #3
Concordo com @ruimarinho. Twitter para começar está de bom tamanho.

[2015-02-08 06:03] gtramontina commented on #4
Medium então?

[2015-02-08 06:06] gtramontina commented on #6
Eu, particularmente, não me importo com a "mistura" das línguas. Acredito que se houver alguma divisão, que seja no que diz respeito a eventos locais.

[2015-02-08 06:07] gtramontina opened #7 "Compartilhamento de senhas"
Que tal manter senhas e outros segredos nesse mesmo repositório usando https://github.com/StackExchange/blackbox?

[2015-02-08 08:26] ericdouglas commented on #3
@ruimarinho +1

Apenas Twitter de início!

[2015-02-08 08:35] ericdouglas commented on #6
Vejam uma [nota](https://github.com/iojs/website/issues/125#issuecomment-73392158) do @mikeal sobre "Localização X Língua".

Essa sugestão do @ruimarinho é interessante, e assim podemos listar nos respectivos READMEs, os materiais criados em cada localização.

Sobre contas diferentes nas redes sociais, creio que não seja necessário, pois podemos divulgar os materiais e fazer uma sinalização `[pt-b

[2015-02-08 12:00] cguedes commented on #3
Olá a todos. Também concordo que se use apenas o Twitter.

[2015-02-08 12:02] cguedes commented on #3
Já agora, podem-me adicionar como contributor?

O mikael disse que [me adicionou](https://github.com/iojs/website/issues/125#issuecomment-73390998) mas não me parece.

[2015-02-08 12:05] cguedes commented on #4
+1 medium

[2015-02-08 12:29] jpsc commented on #4
Para mim também voto medium.
Fará sentido criar uma conta iojs_pt para as traducões dos blog posts ?

[2015-02-08 12:36] jpsc commented on #6
@danilovaz concordo contigo, embora seja identica existem termos que diferem.

@ericdouglas será que e assim tão importante saber de que parte vem o material? Acho que quem percebe a língua percebe a outra.

[2015-02-08 12:59] ruiquelhas commented on #6
Existindo a possiblidade e a disponibilidade para produzir a documentação de ambas as localizações, creio que será esse o caminho ideal.

[2015-02-08 13:42] erickpatrick commented on #4
+1 Medium

Além do mais, agora, ele conta com um botão próprio para tradução dos artigos presentes lá. Vejam o [os passos necessários e as dicas](https://medium.com/the-story/translate-medium-359ebb19d738) que o próprio pessal do Medium publicou sobre a possibilidade das traduções.

[2015-02-08 14:15] jpsc commented on #4
@ericdouglas eu acho que isso não deve ser a solucao mais prática. cada vez que quiseremos traduzir um novo post temos de enviar um email para Medium ?

[2015-02-08 14:24] jpsc commented on #3
@ruimarinho +1

[2015-02-08 15:06] gustavohenke commented on #3
Decidido então, alguma outra opinião?

[2015-02-08 15:50] ruiquelhas commented on #3
:+1:

[2015-02-08 15:58] danilovaz commented on #6
@ruimarinho Concordo, muito bom.

[2015-02-08 16:26] fixe opened #10 "Novo colaborador pt-PT"
Estou disponível para ajudar no desenvolvimento e promoção de `iojs` em Português.

[2015-02-08 16:40] #3 closed, assigned to nobody

[2015-02-08 17:00] gustavohenke commented on #4
+1 Medium.

Mas, tenho que concordar com o @jpcarmona, pode ficar um pouco chato este processo de esperar respostas da equipe do Medium.

[2015-02-08 17:04] #1 closed, assigned to nobody

[2015-02-08 17:23] gustavohenke commented on #6
Como um exemplo de divisão de conteúdo, acho que a Wikipedia funciona muito bem.
Em um artigo comum para as duas culturas, geralmente a palavra na outra cultura está lá, como:

[2015-02-08 17:27] jpsc commented on #6
Eu acho que é mais do que palavras singulares. Mas podemos fazer teste nos primeiros artigos que traduzirmos.

[2015-02-08 17:35] danilovaz commented on #6
@gustavohenke podemos testar assim. Como o @jpcarmona disse, fazemos um teste nos primeiros artigos fazendo referência às diferenças dos dois idiomas quando surgir. A pergunta que fica é, qual das duas será a "principal"? Por exemplo, um artigo será inteiro em pt-br com referências ao pt-pt quando surgir palavras diferentes ou o inverso?

[2015-02-08 17:40] gustavohenke commented on #10
Convite enviado!

[2015-02-08 17:42] fixe commented on #10
Obrigado :-)

[2015-02-08 17:42] #10 closed, assigned to nobody

[2015-02-08 17:55] fixe commented on #6
Uma pergunta: os commits/PRs deste repositório não deviam ser na mesma em Inglês?

[2015-02-08 17:57] jpsc commented on #6
Eu pensei exactamente nisso quando fiz o meu. Para mim torna-se mais fácil ser em Inglês.

[2015-02-08 18:14] danilovaz commented on #6
@jpcarmona @fixe não sei se seria o melhor ser em inglês, afinal no repo é unânime o português, não?

[2015-02-08 18:16] gustavohenke opened #13 "Uso de labels"
Olá,
Acho que seria interessante definir o uso de labels para ajudar na organização das issues aqui no GitHub.
Pensei nas seguintes labels (já criadas):
- **ajude**
  Algo para que iniciantes que desejam partipar da equipe demonstrem suas habilidades.
- **governança**
  Issues para definirmos processos da equipe. Por exemplo: esta issue
- **tarefa**
  Alguma coisa que devemos fazer dentro da organ

[2015-02-08 18:19] danilovaz commented on #13
@gustavohenke e se criar uma label só para tradução? Ficando com 4 labels: ajude, governança, tarefa e tradução. Seria mais interessante e mais organizado ter uma label apenas para traduções.

[2015-02-08 18:21] danilovaz commented on #13
adicionei uma label chamada discussão, para tópicos que têm como objetivo discutir algo a cerca do repositório e que não necessariamente se encaixe nas outras labels, como por exemplo, definição de pt-pt ou pt-br

[2015-02-08 18:27] gustavohenke commented on #6
@danilovaz +1 para tudo em português!

[2015-02-08 19:22] rogeriopvl commented on #4
Eu acho que é melhor criar uma conta própria para não ficarmos dependentes do Medium sempre que quisermos postar.

A não ser claro, que exista outra maneira em que não seja preciso enviar email e seja de forma automática.

[2015-02-08 20:09] fixe commented on #6
Acho estranho ver mensagens de commit em PT. Na minha opinião apenas os conteúdos deviam ser traduzidos.

[2015-02-08 20:11] fixe commented on #13
Acho que devíamos fazer como os outros fazem: labels em Inglês, etc. Ver [aqui](https://github.com/iojs/iojs-es/issues).

[2015-02-08 20:21] danilovaz commented on #6
Na minha opinião que as mensagens de commit, PRs, labels etc são para controle da própria comunidade e as pessoas que mantém o projeto. Se a maioria que contribui, tem como idioma principal o português, não vejo razão de usar o inglês. A não ser que outra pessoa que não fale português ajude nas traduções ou discussões, mas acho isso difícil.

Voto por ser tudo em português. Mas não teria problemas

[2015-02-08 22:17] ruimarinho commented on #6
Confesso que acho um pouco estranho ver commits como  "Merge pull request X" misturados com commits em português. É uma preferência pessoal, claro, pela mesma razão que não escrevo código em português também. A minha sugestão é:
1. Processos em inglês (commit messages, labels, etc).
2. Conteúdo em português (descrições de PRs, documentação, etc).

Todos os colaboradores deste repo com certeza domi

[2015-02-08 22:20] ruimarinho commented on #4
A ideia do @erickpatrick era gira se não fosse tão manual. Estou com o @rogeriopvl, mais vale criar uma conta à parte, até porque nem sei se é possível criar conteúdo exclusivamente num idioma (português) sem ter o artigo no idioma "original" (inglês).

[2015-02-08 22:44] ruimarinho commented on #7
Por mim é excelente :) https://keybase.io/ruimarinho

[2015-02-09 09:36] gustavohenke commented on #4
Criamos uma conta iojs_pt lá então? Pra ficar igual ao Twitter.

[2015-02-09 09:38] gustavohenke commented on #6
Vamos fazer uma votação?

1 - Mensagens de commits e PRs em português
2 - Mensagens de commits e PRs em inglês

[2015-02-09 09:40] gustavohenke commented on #4
Foi: https://medium.com/@iojs_pt

[2015-02-09 10:10] gustavohenke commented on #7
Quando definirmos isso eu compartilho e-mail e Twitter que criei.
Por enquanto, ainda não entendi como funciona o Keybase e o Blackbox achei MUITA coisa pra ler :cry:

[2015-02-09 10:11] ruiquelhas commented on #6
Na minha modesta opinião, acho que só os "deliverables" é que devem ser em Português. Tudo o que seja discussão, issues e pull requests, devem ser em Inglês. Do ponto de vista de partilha de conhecimento inter-grupo, particularmente ao nível de processo, deixa de existir a barreira linguistica, sendo que estou certo que existe muito a aprender com outros grupos e vice-versa.

[2015-02-09 10:13] ruiquelhas commented on #13
Totalmente de acordo com o @fixe. Já expressei a minha opinião sobre o assunto - #6.

[2015-02-09 15:27] jpsc commented on #6
@ruimarinho exactamente.

Voto na segunda opção.

[2015-02-09 16:34] #4 closed, assigned to nobody

[2015-02-09 17:02] gustavohenke commented on #5
Se alguém quiser ir começando esta tarefa, me mande e-mail (gustavo@injoin.io) ou então fale comigo inbox no Gitter pra passar a senha do Twitter (usado pra fazer login na conta do Medium).
Isto até que tenhamos resolvido a issue #7.

[2015-02-09 17:43] danilovaz commented on #5
inbox @gustavohenke  :+1: :smile:

[2015-02-09 17:45] danilovaz commented on #6
voto na opção 1

[2015-02-09 18:50] erickpatrick commented on #4
Não, você só manda e-mail para eles habilitarem a funcionalidade de tradução no perfil de vocês. Foi um meio deles prevenirem que qualquer um saísse traduzindo as coisas, colocando algo nada a ver.

Após enviar o e-mail com seus nomes de usuários, eles responderão, confirmando a nova funcionalidade, ou não, para os usuários de vocês. Depois de confirmado, toda vez que acessar alguma publicação, vo

[2015-02-09 19:16] danilovaz commented on #5
traduzi o post, peço a ajuda de quem puder revisar o texto caso encontre algum erro ou typo: https://medium.com/@iojs_pt/a09a125faeb4

Lembrando que para ver o post, precisa ter uma conta no Medium. Está como rascunho, após a revisão de vocês e o OK, podemos postar.

Valeu :smiley: :+1:  :book:

cc @iojs/iojs-pt

[2015-02-09 21:20] ruiquelhas opened #14 "Termos técnicos"
Enquanto não há fumo branco no #6, abro mais um issue em Português.

Tendo em conta a discussão actual, e olhando para o draft do primeiro blog post, existem termos técnicos (o que há partida será norma em todos eles) como `commit`, `tracing`, etc. Estão a pensar em aplicar alguma regra na tradução destes? Eu sou da opinião que se devem manter em Inglês.

[2015-02-09 21:36] gustavohenke commented on #14
Também acho que termos técnicos podem ficar em inglês.

[2015-02-09 22:35] ruimarinho commented on #14
Eu também voto em manter em inglês.

[2015-02-09 22:39] ruimarinho commented on #6
Estou com o @ruiquelhas - maior intercomunicação entre diferentes comunidades (p.e. alguém que vem do estrangeiro para o nosso país pode acompanhar a comunidade io.js-pt) e assim até podemos mencionar alguém do TC para dar input sobre determinados temas.

[2015-02-09 22:48] danilovaz commented on #14
termos técnicos também acho que podem ficar em inglês; não faria muito sentido commit, push, pull, tracing, debug, etc em portugês...

[2015-02-09 22:50] danilovaz commented on #6
então acho que fechou? a maioria pelo visto vota em -> labels, commits e demais em inglês e somente conteúdo e nossas conversas aqui, em português, correto?

[2015-02-09 23:16] leonardosalles commented on #14
Também concordo, termos técnicos em inglês, as cabeças de todos já estão acostumadas com esses termos, não vejo dificuldade em manter

[2015-02-09 23:59] ruimarinho commented on #4
@erickpatrick e dá para criar conteúdo que não tenha o original em inglês?

Btw, este é bastante recente mas algo que também podemos considerar no futuro: http://hubpress.io/index.html

[2015-02-10 01:40] gustavohenke commented on #6
Por mim é isso.
Discussão nas issues fica melhor se for em português, a não ser que envolva algum não falante do idioma.

[2015-02-10 02:00] gustavohenke opened #15 "Tradução do Site - pt-BR"
Instruções: https://github.com/iojs/website/blob/master/TRANSLATION.md
Arquivos fonte: https://github.com/iojs/website/tree/master/content/pt_BR
Pull request: iojs/website#150

[2015-02-10 02:00] gustavohenke opened #16 "Tradução do Site - pt-PT"
Instruções: https://github.com/iojs/website/blob/master/TRANSLATION.md
Arquivos fonte: https://github.com/iojs/website/tree/master/public/pt_PT
PR: iojs/website#176

[2015-02-10 02:03] danilovaz commented on #15
boa :+1: precisando de algo, só chamar ^^

[2015-02-10 02:06] gustavohenke commented on #13
Como já foram traduzidas os labels, vou fechar. Acho que não tem muito mais o que se discutir, depois podemos criar um markdown no repositório para comentar melhor estas regras.

[2015-02-10 02:06] #13 closed, assigned to nobody

[2015-02-10 02:06] danilovaz commented on #6
Então ok, mudei as labels para inglês. Commits, PRs e demais a partir de agora em inglês e somente conteúdo e assuntos que dizem respeito aos mantenedores ficam em português. Todos ficaram de acordo dessa forma, correto?

[2015-02-10 02:19] gustavohenke commented on #15
Se possível, ir revisando lá no PR do website. É necessário um +1 lá depois que estiver pronto pra ser aceito.

[2015-02-10 02:24] gustavohenke commented on #15
Ou, mesmo contribuindo no meu fork..

[2015-02-10 02:29] danilovaz commented on #15
beleza, vou dar uma conferida :+1:

[2015-02-10 02:35] danilovaz commented on #15
conferi o PR, me parece tudo certo.

[2015-02-10 02:43] gustavohenke commented on #15
Tem mais a vir. Todo o FAQ e a documentação sobre ES6...

[2015-02-10 02:44] gustavohenke commented on #5
Fiz apenas um comentário lá, de resto acho que pode ser publicado!

[2015-02-10 02:53] gustavohenke commented on #15
Se alguém mais quiser contribuir, só me falar que libero acesso no fork!

[2015-02-10 02:57] danilovaz commented on #15
beleza, estou traduzindo o FAQ :+1:

[2015-02-10 04:06] danilovaz commented on #15
Terminei de traduzir a FAQ. Aguardando revisão agora.

[2015-02-10 04:08] danilovaz commented on #14
creio que entramos em consenso, estou fechando essa issue.

[2015-02-10 04:08] #14 closed, assigned to nobody

[2015-02-10 09:39] ericdouglas commented on #6
@danilovaz correto!

[2015-02-10 10:32] danilovaz commented on #6
issue fechada então =) vamos ao trabalho agora rs :smile:

[2015-02-10 10:32] #6 closed, assigned to nobody

[2015-02-10 10:41] gustavohenke commented on #15
Finalizada a tradução, obrigado @danilovaz!
Por favor pessoal, nos ajudem revisando o PR iojs/website#150

[2015-02-10 10:52] gustavohenke commented on #7
@ruimarinho Acredito ter entendido o keybase! :)
Eu encripto algo com o seu usuário, e apenas você vai conseguir desencriptar. É isto?

[2015-02-10 11:32] danilovaz commented on #5
Não estou conseguindo ver o seu comentário no artigo. Acredito ser um bug porque ontem eu respondi alguns notes lá normalmente. Se puder, me mande a consideração no Gitter. Valeu @gustavohenke !

[2015-02-10 15:57] danilovaz commented on #5
Fiz as alterações no texto conforme indicaram nos notes do Medium. Com base nisso, publiquei nosso primeiro post no Medium: https://medium.com/@iojs_pt/io-js-semana-de-06-de-fevereiro-de-2015-a09a125faeb4 e estou fechando essa issue.

Vamos para mais uma :smile: :+1:

[2015-02-10 15:57] #5 closed, assigned to danilovaz

[2015-02-10 16:19] gustavohenke opened #18 "Tradução "io.js and node.js Foundation""
https://medium.com/@iojs/io-js-and-a-node-js-foundation-4e14699fb7be

[2015-02-10 16:39] danilovaz commented on #18
Traduzindo...

[2015-02-10 18:36] danilovaz commented on #18
Pessoal, traduzi esse post. Por favor, quem puder fazer uma revisão.

Obrigado.

https://medium.com/@iojs_pt/e04e0758f1ea

[2015-02-10 19:16] gustavohenke commented on #15
Feito!

[2015-02-10 19:16] #15 closed, assigned to gustavohenke

[2015-02-10 21:59] erickpatrick commented on #4
Sim, dá. Aí, o ideal seria criar uma coleção dentro do próprio Medium, para agrupar todos essas publicações originais.

[2015-02-11 02:01] ruimarinho commented on #7
Sim. O keybase funciona através de gpg e nada mais. A única vantagem é que podes ter mais confiança que a chave pública de gpg que lá está é realmente minha :) "web of trust". Na realidade, isto apenas implica que encriptes a password com a minha chave pública e de seguida podes enviá-la através de um canal não seguro, como email ou irc.

O blackbox apenas tem a vantagem de automatizar este proces

[2015-02-11 11:23] gustavohenke commented on #7
Certo.
Gosto da possibilidade de usar o keybase, mas como ele está com inscrições fechadas, por enquanto, quem quiser senha do Twitter @Iojs_pt, pode me pedir via e-mail ou inbox no gitter.

[2015-02-11 11:29] gustavohenke commented on #18
@danilovaz, me intrometi e alterei algumas coisas no artigo :confused:
Se alguém tiver mais alguma consideração, pode deixar uma nota lá ou mesmo aqui, e aí depois podemos fechar, eu acho.

[2015-02-11 11:36] danilovaz opened #19 "Aprovação de arquivos em revisão"
Galera, visando manter a organização e também tornar ágil e prático nosso processo de reviewing/translated gostaria de propor aqui que os artigos marcados com a label reviewing estarão aptos a ser publicados quando 2 membros da equipe enviarem um :+1:  e caso haja algo a ser arrumado venha seguido de um :-1: e o comentário do que deve ser alterado.

O que acham?

cc @iojs/iojs-pt

[2015-02-11 11:37] danilovaz commented on #18
@gustavohenke tranquilo, a ideia é essa mesmo :smile: estamos em um ritmo bom. mas acho que devemos criar um padrão para agilizar o processo de reviewing/translated, criei uma issue #19 para discutir isso

[2015-02-11 14:21] erickpatrick commented on #19
Por mim, seria o ideal :+1:

Sou quase um "nazista de gramática" e tem algumas coisas que me incomodam em algumas traduções, principalmente, no tocante ao uso de estrangeirismos. Se existe a opção/termo/palavra em português e de fácil entendimento/conhecimento, por que usar o termo em inglês? Se o objetivo é a tradução, façamos da melhor maneira possível.

Claro, não é traduzir tudo ao pé-da-letra

[2015-02-11 19:54] gustavohenke commented on #19
Por mim :+1: também!

[2015-02-12 10:52] gustavohenke commented on #18
@iojs/iojs-pt, alguém mais poderia revisar o artigo?

Por mim, é :+1:.

[2015-02-12 11:44] danilovaz commented on #19
legal, vamos esperar mais alguns membros expressarem a opinião deles, aí decidimos e fechamos a issue =) valeu galera.

[2015-02-12 11:46] rogeriopvl commented on #19
:+1:

[2015-02-12 11:49] rogeriopvl commented on #18
Por mim está :+1:

Mas tenho uma questão: como será relativamente a traduzir os posts em pt_PT ?

[2015-02-12 12:19] danilovaz commented on #18
@rogeriopvl os posts serão traduzidos em PT geral, dái peço a ajuda dos membros de Portugal para dar sugestões de palavras que possam ter significados diferentes entre nossas nações, para que tenhamos um texto mais "globalizado" possível em português, indepentende de Portugal ou Brasil. Da mesma forma, o pessoal do Brasil ajuda nas revisões do pessoal de Portugal para usarmos palavras que tenham o

[2015-02-12 15:09] rogeriopvl commented on #18
@danilovaz ok! :+1:

[2015-02-12 21:55] rogeriopvl commented on #16
PR feito. Alguém pode rever a tradução pff? iojs/website#176

[2015-02-12 23:10] getuliojr commented on #19
Concordo com o proposto.

[2015-02-13 08:09] rogeriopvl opened #20 "Disponibilizar materiais traduzidos em pt.iojs.org"
Malta, vejam este issue:

https://github.com/iojs/website/issues/184

Em princípio vai ser possível ter o gh-pages no nosso repo com o CNAME *.iojs.org (por exemplo pt.iojs.org)

Podemos tirar partido disto de alguma forma? No issue mencionado em cima, houve uma sugestão de aproveitar esse domain para disponibilizar os materiais traduzidos de forma mais rápida.

Poderíamos criar uma página do grup

[2015-02-13 10:47] getuliojr commented on #20
Já foi criada a conta no twitter ? Talvez possamos nos organizar melhor com um grupo e não apenas por aqui para troca de informação mais rápida. A ideia de ter um CMS ajudaria bastante para gerenciarmos a tradução de conteúdos externos como do Medium.

A comunidade irá traduzir artigos como o postado abaixo ?
https://medium.com/@mikeal/how-io-js-built-a-146-person-27-language-localization-effort-i

[2015-02-13 11:07] rogeriopvl commented on #20
@getuliojr sim já existe conta no twitter: @iojs_pt

Na minha opinião, ter/manter um CMS é secalhar um pouco overkill. A minha ideia seria no minimo manter todos os materiais traduzidos em markdown, num sitio central de modo a podermos rever, atualizar, etc. Depois (no caso dos posts) publicar era só copy-paste para o medium.

Quanto ao artigo, é uma pergunta pertinente. Por um lado o conteúdo e a

[2015-02-13 11:13] gustavohenke commented on #18
Publiquei!

[2015-02-13 11:13] #18 closed, assigned to danilovaz

[2015-02-13 11:34] getuliojr commented on #20
Então focamos inicialmente nos posts oficiais que estão sendo colocados no medium e depois a medida que nos organizarmos e a comunidade se estabelecer vamos aumentando o escopo.

Abrimos um novo tópico para traduzir o texto abaixo e dividimos o conteúdo ? Acho o texto interessante até para o momento:

https://medium.com/@mikeal/how-io-js-built-a-146-person-27-language-localization-effort-in-one-da

[2015-02-13 18:39] gustavohenke opened #21 "Tradução "io.js Week of February 13th 2015""
https://medium.com/node-js-javascript/io-js-week-of-february-13th-2015-7846b94074a2

[2015-02-13 18:41] gustavohenke commented on #16
O PR foi aceito, fechando!

[2015-02-13 18:41] #16 closed, assigned to rogeriopvl

[2015-02-13 18:41] gustavohenke commented on #16
Obrigado @rogeriopvl!

[2015-02-15 19:38] rogeriopvl opened #22 "Links para faq no index.md corrigidos"
https://github.com/iojs/website/pull/194

Fiz este pull request para corrigir os links no `index.md` que estavam a apontar para a raiz do site (e que acabavam por resolver para a versão em inglês).

Eles precisam de um +1 do nosso WG para aprovar o PR.

Alguém pode aprovar pff?

[2015-02-15 19:51] gustavohenke commented on #22
Feito!

[2015-02-15 21:49] rogeriopvl commented on #22
obrigado @gustavohenke . Vou dar o issue como fechado.

[2015-02-15 21:49] #22 closed, assigned to nobody

[2015-02-19 12:29] gustavohenke commented on #21
Alguém se disponibiliza para esta tradução..?

[2015-02-19 12:34] getuliojr commented on #21
Eu faço hoje no almoço.

[2015-02-20 11:05] getuliojr opened #23 "Traduzir artigo "How io.js built a 146 person, 27 language localization… in one day""
É feito menção deste artigo na semana de 13 de Fevereiro, portanto o mesmo também deve ser traduzido. Abrindo uma tarefa aqui:

https://medium.com/@mikeal/how-io-js-built-a-146-person-27-language-localization-effort-in-one-day-65e5b1c49a62

[2015-02-20 11:34] getuliojr commented on #21
Pessoal, podem olhar a tradução e enviar correções ou aprovar a mesma ?

https://medium.com/@getuliojr/77a7e044c211

[2015-02-20 13:07] gustavohenke commented on #21
Opa,
Me pede via gitter/e-mail a senha da nossa conta do Medium pra postarmos lá.

[2015-02-20 14:00] Glauber commented on #19
![]

[2015-02-20 14:00] Glauber commented on #19
![](https://assets-cdn.github.com/images/icons/emoji/unicode/1f44d.png)

[2015-02-20 14:02] Glauber commented on #19
:+1:

[2015-02-20 15:34] rogeriopvl commented on #21
A palavra "rompe" creio que é uma expressão muito brasileira, seria melhor algo como "ultrapassa as 10.000 estrelas". O que acham?

O resto da tradução por mim está :+1:

[2015-02-20 15:54] alexsantos commented on #21
Concordo com o @rogeriopvl, de resto já dei o meu contributo :+1:

[2015-02-20 16:06] getuliojr commented on #21
Ok, Todas as sugestões feitas já foram alteradas. Preciso apenas saber como publicar na página em pt agora. Ainda não recebi os dados. Assim que souber eu concluo e fecho a tarefa.

[2015-02-20 16:09] #19 closed, assigned to nobody

[2015-02-20 16:10] gustavohenke commented on #21
@getuliojr

[2015-02-20 16:11] getuliojr commented on #21
@gustavohenke eu já pedi por la e passei meu email tambem. :)

[2015-02-20 16:49] getuliojr commented on #21
Texto publicado.

[2015-02-20 16:49] #21 closed, assigned to getuliojr

[2015-02-23 01:53] #7 closed, assigned to nobody

[2015-02-23 15:33] Glauber commented on #23
Senhores segue o link da tradução https://medium.com/p/ee6aae2a90d4. Fiquei na dúvida se deveria traduzir o termo "issue" por ser uma coisa meio que própria do Github. O que vcs acham? Aguardo as observações sobre tudo.

[2015-02-23 16:31] gustavohenke commented on #23
@Glauber, me pede via e-mail/Gitter a senha do nosso Twitter pra você postar na conta do Medium @iojs_pt, por favor.

[2015-02-23 17:14] Glauber opened #24 "Traduzir texto: io.js Week of February 20th 2015"
https://medium.com/node-js-javascript/io-js-week-of-february-20th-2015-48486615980

[2015-02-23 19:49] getuliojr commented on #23
Deixei os comentários sobre o texto na página traduzida, mas deixo o meu ok. :+1:

[2015-02-24 12:24] rogeriopvl commented on #24
Draft traduzido em https://medium.com/@iojs_pt/28fe6884685e

Confirmem por favor se existem alterações a fazer :)

**_Nota:**_ fiz a tradução de "user" como "usuário" dado que noutros posts encontrei essa palavra. Apesar de não ser português de portugal, na minha opinião é mais importante manter a coerência.

[2015-02-24 12:53] rictorres commented on #24
Curiosidade: como seria em português de Portugal? :)

[2015-02-24 12:55] ruiquelhas commented on #24
Utilizador.

[2015-02-24 12:56] ruiquelhas commented on #24
Btw, fiz um pequeno comentário, mas não é nada que na minha óptica impeça a publicação, como tal, fica a minha aprovação.

:+1:

[2015-02-24 12:58] getuliojr commented on #24
Fiz meus comentários sobre o item, mas deixo a aprovação: :+1:

[2015-02-24 13:01] gustavohenke commented on #24
Fiz alguns comentários também, no mais, :+1:

[2015-02-24 13:03] rictorres commented on #24
onde vcs estão fazendo os comentários? (devo ter perdido algo)

[2015-02-24 13:04] getuliojr commented on #24
na própria página do Medium, não é o local correto ? Ao grifar o parágrafo ou item, faço o comentário para a melhoria. Normalmente ela entra como privada e apenas o criador da página pode ler e depois de confirmar ele pode alterar para público e todos tem acesso.

[2015-02-24 13:08] gustavohenke commented on #24
Exato, @getuliojr. Inclusive vou adicionar isso na documentação do repositório, pra futura referência de novos colaboradores.

[2015-02-24 13:13] rictorres commented on #24
boa, @getuliojr @gustavohenke
também comentei lá no medium, mas :+1:

[2015-02-24 13:35] Glauber commented on #23
@getuliojr fiz as correções mas confesso que a tradução de issue ainda me deixa desconfortável. E se formos mesmo traduzir, talvez fosse melhor escrever sempre o mesmo termo (foram sugeridos os termos "questão" e "item"), para manter uma coerência e pra ficar claro que faz menção a funcionalidade do github. Até que mais alguém dê sua opinião está feito como solicitado.

[2015-02-24 15:08] rogeriopvl commented on #24
Fiz todas as alterações propostas excepto no último ponto das Reuniões.

Digam se concordam:
- @getuliojr eu acho que o nome dos Working Groups deve permanecer o original em inglês, isto porque se alguém quiser pesquisar mais sobre esse working group, não vai conseguir encontrar pelo nome traduzido.
- @gustavohenke As datas foram traduzidas apenas no nome do mês (ex. Feb -> Fev). De resto é apenas

[2015-02-25 01:58] gustavohenke commented on #24
Acho que um formato que seja comum aos colaboradores portugueses ou brasileiros seria interessante.
Aqui usamos DD/MM/YYYY.

[2015-02-25 08:26] ruiquelhas commented on #24
Em Portugal o formato é o mesmo.

[2015-02-25 09:43] rogeriopvl commented on #24
Alterei as datas para esse formato.

Artigo publicado.

[2015-02-25 09:43] #24 closed, assigned to rogeriopvl

[2015-02-25 10:23] gustavohenke commented on #24
Valeu, @rogeriopvl!

[2015-02-26 05:12] JCMais commented on #23
@Glauber seria interessante criar um arquivo com termos comuns que devem, ou não, ser traduzidos.

[2015-02-26 11:32] ruimarinho opened #25 "Novo colaborador (@JCMais)"
O @JCMais pediu para ser adicionado à org. `iojs-pt` na thread de i18n. Há algum processo definido para além de dar acesso como colaborador ao repo?

[2015-02-26 11:37] gustavohenke commented on #25
Acho que adicionar o nome à lista de membros é o suficiente.

[2015-02-26 11:39] ruimarinho commented on #25
Ok, fico a aguardar um PR do @JCMais :)

[2015-02-26 11:40] ruimarinho commented on #7
@gustavohenke acabei de receber 4 convites, por isso posso partilhá-los :) se cada um receber mais alguns conseguimos cobrir a org toda. Enviei-te um convite (estou pelo Gitter também).

[2015-02-26 13:50] Glauber commented on #23
estou de acordo @JCMais

[2015-02-26 13:55] Glauber commented on #23
Pessoal a tradução já está pronta pra ir pro ar? Alguém tem mais algum comentário? Tá faltando um :+1:  pra marcar como translated.

[2015-02-26 14:57] alexsantos commented on #23
:+1:

[2015-02-26 15:43] cguedes commented on #23
Olá a todos. Este artigo não devia indicar que é uma tradução do artigo
original (e colocar link)?

As minhas desculpas se esta questão já foi debatida.
On qui, 26/02/2015 at 14:57 Alexandre Santos notifications@github.com
wrote:

[2015-02-26 17:34] JCMais commented on #25
@ruimarinho #26

[2015-02-26 17:44] JCMais commented on #7
@ruimarinho poderias me enviar um convite?

[2015-02-26 22:34] gustavohenke opened #28 "Tradução dos slides do Roadmap - pt-BR"
Traduzir os slides do roadmap do io.js para pt-BR

iojs/roadmap#18
https://github.com/iojs/roadmap

[2015-02-26 22:34] gustavohenke opened #29 "Tradução dos slides do Roadmap - pt-PT"
Traduzir os slides do roadmap do io.js para pt-PT

iojs/roadmap#18
https://github.com/iojs/roadmap

[2015-02-27 03:13] ruimarinho commented on #25
Done!

[2015-02-27 03:13] #25 closed, assigned to nobody

[2015-02-27 03:22] ruimarinho commented on #7
Done @JCMais.

[2015-02-27 14:06] getuliojr opened #30 "Proposta de Reconciliação com a Joyent / Node"
Seria importante todos acompanharem a discussão e lerem os textos propostos,afinal haverá uma votação para saber se devemos ou não unir as forças e as novas regras estabelecerão como essa comunidade seguirá.

Abaixo o link para a discussão da questão iojs/io.js#978

[2015-02-27 15:11] gordalina commented on #30
Acho que seria interessante como iojs-pt apresentarmos o nosso voto na thread iojs/io.js#978
+1 para a reconciliação

[2015-02-27 15:24] JCMais commented on #30
:+1: Ver o node.js se tornar um novo python 2.7 seria um pesadelo.

Mas eu sinceramente acho que, no momento, a Joyent não está disposta a aceitar o modelo de governança proposto, o que pode fazer com que essa reconciliação demoree[...]ee. :disappointed:

[2015-02-27 17:23] gordalina commented on #7
tenho 8 convites keybase para quem quiser.

[2015-02-27 17:35] getuliojr commented on #7
Poderia me enviar uma Samuel ?

2015-02-27 14:23 GMT-03:00 Samuel Gordalina notifications@github.com:

[2015-02-27 17:37] gordalina commented on #7
@getuliojr qual o email?

[2015-02-27 17:55] getuliojr commented on #7
Poderia ver no meu perfil ? Prefiro do que deixar registrado por comentário.

[2015-02-27 18:03] gordalina commented on #7
@getuliojr enviado

[2015-02-27 18:16] Glauber commented on #7
Pode me enviar uma @gordalina ?

[2015-02-27 18:17] gordalina commented on #7
@Glauber enviado

[2015-02-27 19:01] Glauber commented on #23
Pessoal como não houve mais considerações estou dando por encerrado.

[2015-02-27 19:01] #23 closed, assigned to Glauber

[2015-02-27 19:33] JCMais opened #31 "Internacionalização do conteúdo do site"
Apesar de o conteúdo já está traduzido para pt e pt_BR, é interessante todos acompanharem a discussão que está acontecendo no issue https://github.com/iojs/website/issues/246.

[2015-03-02 02:00] gustavohenke commented on #28
Feedback por favor: iojs/roadmap#29

[2015-03-02 02:05] gustavohenke commented on #20
@rogeriopvl Qual a chance de isso gerar conteúdo desatualizado em algum lugar?

[2015-03-02 22:37] rogeriopvl commented on #20
@gustavohenke penso que era minima. Existem outros grupos que têm o conteúdo todo organizado por pastas no repositório, não só serve de backup, como ficaria o principal local de aprovação do conteúdo (mais prático do que o medium, no caso dos blog posts).

[2015-03-03 17:39] JCMais opened #32 "Traduzir comentário com informações de como contribuir"
De https://github.com/iojs/website/pull/258#issuecomment-76962406

Precisamos discutir o que colocar aí. :smile:

[2015-03-04 16:48] gordalina commented on #32
Só agora é que vi esta issue.
Enviei o seguinte PR https://github.com/iojs/website/pull/263
Já está merged, mas caso haja alguma alteração, [pode ser feita sem problemas](https://github.com/iojs/website/pull/263#issuecomment-77178952).

[2015-03-06 15:06] getuliojr opened #33 "Traduzir: io.js Week of February 27th"
Link do original:
https://medium.com/node-js-javascript/io-js-week-of-february-17th-9422a589302a

[2015-03-09 18:14] getuliojr opened #34 "Traduzir texto: io.js Week of March 6th"
Outro artigo foi lançado na última sexta e necessita de tradução:
https://medium.com/node-js-javascript/io-js-week-of-march-6th-2f9344688277

[2015-03-10 14:05] Glauber commented on #34
aguardando comentários em https://medium.com/@iojs_pt/193485df398b (alterei o link porque tinha gente que estava sendo direcionada à página errada)

[2015-03-10 14:10] gustavohenke commented on #34
Oi @Glauber, por favor, posta na nossa conta do Medium @iojs_pt.

[2015-03-10 14:13] gustavohenke commented on #29
Feedback em iojs/roadmap#34

[2015-03-10 14:17] Glauber commented on #34
@gustavohenke estou só esperando o pessoal revisar pra colocar lá. Foi assim que definimos não foi?

[2015-03-10 14:19] gustavohenke commented on #34
Pode deixar como rascunho, enquanto o pessoal revisa.
Depois de postado aparecerá no fim do post o seguinte:

![](http://i.imgur.com/5gSfM5m.png)

[2015-03-10 14:33] Glauber commented on #34
Pessoal o link no medium então https://medium.com/@iojs_pt/193485df398b, aguardo os comentários.

[2015-03-16 17:21] getuliojr opened #35 "Traduzir texto: 'io.js Week of March 13th'"
link:
https://medium.com/p/3b04b847cc7c

[2015-03-16 17:25] Glauber commented on #34
Pessoal os textos estão ficando atrasados. Essa issue não fechou ainda por falta de revisão e o da semana do dia 27 ninguém nem pegou.

[2015-03-16 17:39] gustavohenke commented on #34
Deixei algumas notas lá.

[2015-03-16 17:57] getuliojr commented on #35
Já está traduzindo. Estou colocando para revisão:

https://medium.com/@iojs_pt/e3b5b4d3b2ff,

Por favor olhem e dêem o feedback.

[2015-03-16 18:04] Glauber commented on #34
feito

[2015-03-16 18:43] getuliojr commented on #34
comentários finais adicionados, depois disso acho que pode ser publicado !

[2015-03-16 19:24] Glauber commented on #34
:+1:

[2015-03-16 19:27] Glauber commented on #34
feito

[2015-03-16 19:28] getuliojr commented on #34
:+1: tudo certo

[2015-03-16 19:31] Glauber commented on #35
:+1:

[2015-03-16 19:47] gustavohenke commented on #35
:+1:

[2015-03-16 19:48] gustavohenke commented on #35
Vamos só aguardar o post da issue #34 ser publicado antes de publicar este, beleza?

[2015-03-17 02:13] JCMais commented on #34
:+1: meu

[2015-03-17 10:51] gustavohenke commented on #34
Publiquei!

[2015-03-17 10:51] #34 closed, assigned to Glauber

[2015-03-17 10:52] gustavohenke commented on #33
Este post está ultrapassado.
Alguém acha que vale a pena traduzir?

[2015-03-17 10:52] gustavohenke commented on #28
Concluído.

[2015-03-17 10:52] #28 closed, assigned to gustavohenke

[2015-03-17 10:53] gustavohenke commented on #29
Concluído.

[2015-03-17 10:53] #29 closed, assigned to rogeriopvl

[2015-03-17 10:53] gustavohenke commented on #31
Já era, issue fechada!

[2015-03-17 10:53] #31 closed, assigned to nobody

[2015-03-17 11:00] gustavohenke commented on #32
Enviei PR para traduzir para pt-BR: iojs/website#290

[2015-03-17 12:40] getuliojr commented on #33
Sim acredito que todo o conteúdo deve ser traduzido. A proposta é que pelo menos o conteúdo semanais fossem traduzidos. Vejo sempre as mesmas pessoas participando, as mesmas traduzindo e contribuindo, apesar de ter uma lista grande de pessoas que se inscreveram para participar como colaboradores. Logo quem realmente entrou no oba oba, deve deixar a comunidade.

[2015-03-17 13:11] getuliojr commented on #35
Correções sugeridas feitas e texto publicado.

[2015-03-17 13:12] #35 closed, assigned to getuliojr

[2015-03-17 13:22] Glauber commented on #33
Tb penso que deveria ser feito. E tb concordo com o @getuliojr de que está faltando rítimo. Tem tradução que não está publicada por falta de revisão.

[2015-03-17 14:28] snostorm commented on #32
Can we get a +1 here or on https://github.com/iojs/website/pull/290 to merge? Minor enough I'll merge in 24 hours or so to give it time to be verified.

[2015-03-17 16:37] #32 closed, assigned to nobody

[2015-03-19 13:45] raphaelpor opened #36 "Link to Semver"
The Semver link on ["faq.html"](https://iojs.org/pt_BR/faq.html), have to be: http://semver.org/lang/pt-BR/.

[2015-03-19 13:51] gustavohenke commented on #36
Oi Raphael. Você pode reportar as issues em português mesmo.
Em todos casos, obrigado por nos lembrar deste detalhe.

[2015-03-19 13:55] raphaelpor commented on #36
Ok @gustavohenke!
Obrigado pelo retorno. :)

[2015-03-23 15:53] JCMais commented on #36
Merged :+1:

[2015-03-23 15:53] #36 closed, assigned to JCMais

[2015-03-25 12:10] getuliojr opened #37 "Traduzir artigo: "io.js Week of March 20th""
Pessoal,

Tenho percebido que a comunidade não está ativa, quem se propôs a ajudar, poucos realmente estão. Toda semana os artigos tem sido traduzidos pelas mesmas pessoas e deveríamos ter 14 pessoas. Estou novamente colocando o artigo semanal para tradução e gostaria de ver novas pessoas que ainda não traduziram nada de se prontificar.

Abaixo texto para tradução:
https://medium.com/node-js-javas

[2015-03-25 12:12] getuliojr commented on #33
Agora o artigo está com 1 mês de defasagem, foi colocado ha 20 dias e ninguem da comunidade pode traduzir. Eu não posso estar traduzindo todos e por isso temos uma comunidade. Se temos muitas pessoas que entraram por causa do 'momentum', então talvez o momento seja de tirar essas pessoas e procurar compromisso.

Este texto por exemplo, perdeu o sentido de ser traduzido depois de tanto tempo.

[2015-03-25 16:12] rictorres commented on #33
Não acho que tenha perdido o sentido, esses posts ficarão acessíveis por pelo menos alguns anos.

**Sobre a participação da comunidade**
Muita gente realmente entrou por causa do _hype_ e nunca mais olhou o repo, mas até onde sei a proposta é "ajudar quando puder". Esse repo ainda é muito novo, pessoas que ainda não ajudaram podem muito bem contribuir no próximo mês. Só acho cedo pra definir quem

[2015-03-25 17:16] getuliojr commented on #33
Muitas pessoas não tem tempo de ler o texto traduzido por alguém e dar um OK. Tem várias formas de ajudar e não apenas traduzindo, mas que tem gente que nunca tem postou um olá e está como administrador do grupo tem. E é esse ponto que acho complicado. O grupo está como semente e quem se candidatou para colaborar deve aparecer sim, dar um oi, postar um ou dois tópicos, comentar etc. Daqui 2 dias j

[2015-03-26 16:47] Glauber commented on #33
Penso que todo mundo pode se organizar pra fazer duas ou três revisões por mês. Mesmo assim tem texto traduzido que demora para ser publicado por falta de review.  "Ajudar quando puder" quer dizer que você não pode estar fulltime envolvido porque tem outras atividades. Só que tem que fazer algo, por menor que seja. Passando dois meses e não deu pra pegar nenhuma tradução? O cara não pode ser admin

[2015-03-27 02:56] gustavohenke commented on #37
Post para revisão:
https://medium.com/@iojs_pt/4e24c3e15508

[2015-03-27 10:26] ruiquelhas commented on #37
Fiz alguns comentários ao draft.

[2015-03-27 10:29] ruiquelhas commented on #37
Fiz alguns comentários ao draft.

[2015-03-27 11:48] rictorres commented on #37
Adicionei minhas observações lá. Bom trabalho, @gustavohenke

[2015-03-27 12:00] gustavohenke commented on #37
Alterações sugeridas realizadas!

[2015-03-27 18:31] JCMais commented on #37
Nada a acrescentar da minha parte :+1:

[2015-03-31 13:56] Glauber opened #38 "Traduzir artigo: "io.js Week of March 27th""
Link do original https://medium.com/node-js-javascript/io-js-week-of-march-27th-9555f36bbb9a

[2015-03-31 14:00] Glauber opened #39 "Traduzir artigo: "io.js Week of March 27th""
Link original https://medium.com/node-js-javascript/io-js-week-of-march-27th-9555f36bbb9a

[2015-03-31 14:01] Glauber commented on #39
Estou fechando porque foi duplicada

[2015-03-31 14:01] #39 closed, assigned to nobody

[2015-03-31 22:23] gustavohenke commented on #37
Para não ficar defasado como outros posts, já publiquei, mesmo sem os 2 OK que decidimos como necessário.

Link:
https://medium.com/@iojs_pt/io-js-semana-de-20-de-mar%C3%A7o-4e24c3e15508

[2015-03-31 22:23] #37 closed, assigned to gustavohenke

[2015-04-01 01:10] ruimarinho commented on #38
Pronto para revisão.

[2015-04-01 02:42] gustavohenke commented on #38
Posta aí o link pro pessoal, @ruimarinho ;)

[2015-04-01 09:44] rictorres commented on #37
Ficou ótimo, @gustavohenke !

[2015-04-01 09:46] rictorres commented on #38
No aguardo do link :}

[2015-04-01 10:08] ruimarinho commented on #38
Oops -- https://medium.com/@iojs_pt/38709b57bcea

[2015-04-01 11:38] ruiquelhas commented on #38
:+1:

[2015-04-01 13:35] gustavohenke commented on #38
Tirando as diferenças pt-PT e pt-BR, pra mim está ótimo.

[2015-04-01 15:15] rictorres commented on #38
:+1:

[2015-04-01 15:45] JCMais commented on #38
:+1:

[2015-04-01 19:41] ruimarinho commented on #38
Publicado em https://medium.com/@iojs_pt/io-js-semana-de-27-de-mar%C3%A7o-38709b57bcea! Obrigado pelo feedback! :)

[2015-04-01 19:41] #38 closed, assigned to ruimarinho

[2015-04-01 20:01] gustavohenke commented on #38
Obrigado galera, essa foi rápida!

[2015-04-02 11:44] rictorres commented on #7
@gordalina @ruimarinho ainda possuem convites para o keybase? :)

[2015-04-02 12:36] ruimarinho commented on #7
Sim, enviado!

[2015-04-02 18:42] rictorres commented on #7
muito obrigado!!

[2015-04-06 10:47] ruimarinho opened #40 "Traduzir: io.js Week of April 3rd"
https://medium.com/node-js-javascript/io-js-week-of-april-3rd-a4e1fe0c38c1

[2015-04-10 12:54] gustavohenke commented on #40
Ping @Glauber

[2015-04-10 21:07] Glauber commented on #40
Aguardando coments senhores https://medium.com/p/71ac2a58f981/

[2015-04-10 22:56] ruiquelhas commented on #40
Sugeri algumas fixes.

[2015-04-11 11:02] ruimarinho commented on #40
@Glauber deixei as minhas sugestões!

[2015-04-13 15:07] Glauber commented on #40
Acatadas.

Dá uma olhada lá porque tem algumas que eu ainda quero a tua opinião (ou do pessoal claro).

[2015-04-13 15:15] Glauber opened #42 "Traduzir: io.js Week of April 10th"
https://medium.com/node-js-javascript/io-js-week-of-april-10th-cbf6cf32409

[2015-04-13 18:56] getuliojr commented on #42
Texto traduzido. Aguardando revisão por parte da comunidade:

https://medium.com/@iojs_pt/210f06bdd723

[2015-04-14 12:26] getuliojr commented on #40
+1 pode publicar

[2015-04-14 12:55] JCMais commented on #40
:+1:

[2015-04-14 13:17] ruimarinho commented on #40
:+1:

[2015-04-14 17:03] Glauber commented on #40
publicado

[2015-04-14 17:03] #40 closed, assigned to Glauber

[2015-04-14 18:00] rictorres commented on #40
boa!

[2015-04-14 18:06] rictorres commented on #42
sugestões adicionadas.

[2015-04-14 23:44] ruimarinho commented on #42
Feedback adicionado.

[2015-04-16 13:05] getuliojr commented on #42
Sugetões alteradas e texto publicado.

[2015-04-16 13:05] #42 closed, assigned to getuliojr

[2015-04-23 19:45] getuliojr opened #43 "Traduzir artigo: "io.js Week of April 17th""
Não vou poder traduzir esta semana, pois estou viajando, mas já criando a tarefa aqui para quem puder fazer:

https://medium.com/node-js-javascript/io-js-week-of-april-17th-e4c6f2db7659

[2015-04-23 21:06] ruiquelhas commented on #43
On it.

[2015-04-23 21:15] ruiquelhas commented on #43
Lost in translation, onde é que encontro as credenciais de acesso à conta do Medium?

[2015-04-24 10:49] gustavohenke commented on #43
@ruiquelhas

[code]

[2015-04-24 17:39] ruiquelhas commented on #43
https://medium.com/@iojs_pt/265f9c2c89eb

[2015-04-27 17:45] JCMais commented on #43
:+1: da minha parte.

[2015-04-27 17:46] JCMais opened #44 "Traduzir "io.js Week of April 24th""
Link do original: https://medium.com/node-js-javascript/io-js-week-of-april-24th-bd67dcbdfa65

[2015-04-27 22:49] ruiquelhas commented on #43
Corrigi os erros apontados.

[2015-04-28 08:01] rictorres commented on #43
:+1:

[2015-04-28 09:05] ruiquelhas commented on #43
Publicado.

[2015-04-28 09:05] #43 closed, assigned to ruiquelhas

[2015-04-28 13:12] Glauber commented on #43
fiz algumas considerações.

[2015-05-11 12:02] gustavohenke commented on #44
Resolvi traduzir isto, mesmo atrasado...: https://medium.com/@iojs_pt/c7f0cbf184a7
Feedbacks por favor!

[2015-05-11 12:03] gustavohenke opened #45 "Traduzir "io.js Week of May 1st""
https://medium.com/node-js-javascript/io-js-week-of-may-1st-362e01678d48

[2015-05-11 15:40] JCMais commented on #44
:+1: após as correções.

[2015-05-14 13:05] gustavohenke commented on #44
Como estamos nos atrasando muito com as traduções, vou fazer as correções e depois liberar o post.

[2015-05-14 13:06] gustavohenke commented on #44
Tá lá: https://medium.com/@iojs_pt/io-js-semana-de-24-de-abril-c7f0cbf184a7

[2015-05-14 13:06] #44 closed, assigned to gustavohenke

[2015-05-14 13:08] gustavohenke opened #46 "Traduzir "io.js Week of May 8th""
https://medium.com/node-js-javascript/io-js-week-of-may-8th-f9ddd8d3080c

[2015-05-15 10:56] rictorres commented on #45
Percebi que não tenho acesso à conta https://medium.com/@iojs_pt

Portanto o rascunho está temporariamente [aqui](https://gist.github.com/rictorres/2ec3f40b0d5bec9af46e).

Ah.. eu tive algumas dúvidas com relação às traduções de _release candidate_ e _nightly_.

[2015-05-15 11:48] gustavohenke commented on #45
Opa @rictorres, você pode me chamar no Gitter que eu te entrego lá o acesso. Ou se você for o mesmo [rictorres do Keybase](https://keybase.io/rictorres), só identifica teu usuário do GitHub que mando aqui mesmo a mensagem criptografada.

[2015-05-15 12:07] rictorres commented on #45
@gustavohenke idenfiquei lá no Keybase :)

[2015-05-15 12:32] gustavohenke commented on #45
[code]

[2015-05-15 12:50] rictorres commented on #45
Pronto: https://medium.com/@iojs_pt/dcdd3c3f7920

valeu, @gustavohenke

[2015-05-15 12:58] gustavohenke commented on #45
Nada a dizer. :+1:

cc @JCMais @getuliojr @Glauber @ruiquelhas

[2015-05-15 13:02] JCMais commented on #45
:+1:

[2015-05-15 13:36] rictorres commented on #45
Publicado: https://medium.com/@iojs_pt/io-js-semana-de-1-de-maio-dcdd3c3f7920

[2015-05-15 13:36] #45 closed, assigned to rictorres

[2015-05-15 14:17] gustavohenke commented on #45
Valeu! :+1:

[2015-05-17 22:58] gustavohenke commented on #30
Estou fechando esta issue.
Porque? Caso não tenham notado, nossa org agora é @nodejs :sunglasses:

A convergência está começando!

[2015-05-17 22:58] #30 closed, assigned to nobody

[2015-05-17 23:13] ruimarinho opened #48 "Traduzir "io.js News" (Semana 15-05-2015)"
https://github.com/nodejs/evangelism/blob/master/weekly-updates/weekly-update.2015-05-15.md

Tradução em https://medium.com/@iojs_pt/4bb8ddc2d398.

[2015-05-17 23:24] gustavohenke commented on #48
Deixei com a label "reviewing" pra equipe ver que tem feedback pra dar.

[2015-05-17 23:36] JCMais commented on #30
Finalmente!

[2015-05-17 23:37] JCMais commented on #48
:+1:, e que ótima notícia!

[2015-05-18 08:46] rictorres commented on #30
:+1:

[2015-05-18 12:56] Glauber commented on #30
:+1:

[2015-05-19 14:23] rictorres commented on #48
:+1:

[2015-05-22 14:07] tegon commented on #46
@gustavohenke Gostaria de contribuir com as traduções... posso pegar essa tarefa?

[2015-05-22 14:18] gustavohenke commented on #46
Vai em frente!

Se tiver como, deixa como rascunho numa conta pessoal do Medium, depois mando as credenciais para a conta da nossa equipe.

[2015-05-22 14:26] tegon commented on #46
@gustavohenke ok! Assim que tiver o rascunho envio o link.

[2015-05-22 23:43] rands0n commented on #48
:+1:

[2015-05-25 12:38] tegon commented on #46
@gustavohenke segue: https://medium.com/@tegon/d6b80c448745, qualquer correção me avise.

[2015-05-25 12:55] gustavohenke commented on #46
cc @nodejs/iojs-pt

[2015-05-25 20:39] JCMais commented on #46
:+1:

[2015-05-26 11:02] rictorres commented on #46
adicionei algumas sugestões

[2015-05-26 13:18] rictorres commented on #48
updates?

[2015-05-26 13:18] rictorres commented on #46
lgtm :+1:

[2015-05-26 19:47] ruimarinho commented on #48
Obrigado por me relembrares @rictorres :) publicado - https://medium.com/@iojs_pt/io-js-novidades-4bb8ddc2d398.

[2015-05-26 19:47] #48 closed, assigned to ruimarinho

[2015-05-26 21:36] rictorres commented on #48
boa, @ruimarinho :+1:

[2015-06-01 10:13] rictorres commented on #46
como estamos?
cc @tegon @gustavohenke

[2015-06-01 10:16] rictorres opened #49 "Traduzir "io.js Week of May 22nd""
https://medium.com/node-js-javascript/io-js-week-of-may-22nd-27905fd0cf8c

[2015-06-01 11:48] gustavohenke commented on #46
Esqueci deste.
@rictorres se você quiser postar lá no nosso Medium, vai em frente!

Mandei agora um invite pro Keybase pro @tegon. Quando ele aceitar, envio as credenciais da nossa conta.

[2015-06-01 14:53] gustavohenke commented on #46
@tegon, publica lá:

[code]

[2015-06-01 16:06] tegon commented on #46
@gustavohenke @rictorres publicado: https://medium.com/@iojs_pt/io-js-semana-de-8-de-maio-57e758e5ce83

valeu galera :smile:

[2015-06-01 16:33] #46 closed, assigned to tegon

[2015-06-01 18:24] rictorres commented on #46
boa! @gustavohenke @tegon
:sunglasses:

[2015-06-05 08:44] rictorres opened #50 "Traduzir "io.js Week of May 29th""
https://medium.com/node-js-javascript/io-js-week-of-may-29th-89bdeace6056

[2015-06-08 11:47] gustavohenke opened #51 "Atualização do FAQ pt-BR"
Houve uma alteração do FAQ no que diz respeito à versão do io.js.
Vide nodejs/website@579a2dc850cd1bb9c81fade6c5c66ac5a42757e2 e nodejs/website#357

[2015-06-08 11:47] gustavohenke opened #52 "Atualização do FAQ pt-PT"
Houve uma alteração do FAQ no que diz respeito à versão do io.js.
Vide nodejs/website@579a2dc850cd1bb9c81fade6c5c66ac5a42757e2 e nodejs/website#357

[2015-06-09 03:40] tegon commented on #49
Traduzi esse, quando alguém puder dar uma olhada:

https://medium.com/@iojs_pt/b748f4cefc0

[2015-06-09 13:16] gustavohenke commented on #49
Fiz algumas considerações lá @tegon

[2015-06-09 14:27] JCMais commented on #49
Tudo ok da minha parte :+1:

[2015-06-09 14:45] gustavohenke commented on #49
Tudo OK agora :+1: pode publicar!

[2015-06-09 14:58] tegon commented on #49
Publicado! https://medium.com/@iojs_pt/io-js-semana-de-22-de-maio-b748f4cefc0

[2015-06-09 15:01] #49 closed, assigned to tegon

[2015-06-10 11:40] ruiquelhas commented on #50
Draft: https://medium.com/@iojs_pt/6948b99a9c6

[2015-06-11 04:04] gustavohenke commented on #52
cc @nodejs/iojs-pt, feedback em nodejs/website#379 por favor

[2015-06-11 10:06] rictorres commented on #50
:+1:

[2015-06-11 10:07] rictorres opened #53 "Traduzir "io.js Week of June 5th""
https://medium.com/node-js-javascript/io-js-week-of-june-5th-48af5e69f16e

[2015-06-11 17:53] JCMais commented on #50
:+1:

[2015-06-11 19:04] ruiquelhas commented on #50
Publicado.

[2015-06-11 19:04] #50 closed, assigned to ruiquelhas

[2015-06-17 08:29] rictorres commented on #53
Traduzindo....

[2015-06-17 09:14] rictorres commented on #53
/cc @nodejs/iojs-pt https://medium.com/@iojs_pt/a4921fcb0a49

[2015-06-17 12:12] gustavohenke commented on #53
:+1:

[2015-06-17 13:55] getuliojr commented on #53
Estive de férias e estou de volta para auxiliar nas próximas...

[2015-06-17 14:49] JCMais commented on #53
:+1:

[2015-06-17 14:52] rictorres commented on #53
https://medium.com/@iojs_pt/io-js-semana-de-5-de-junho-a4921fcb0a49

[2015-06-17 14:52] #53 closed, assigned to nobody

[2015-06-24 08:45] rictorres opened #54 "Traduzir "io.js Week of June 12th""
https://medium.com/node-js-javascript/io-js-week-of-june-12th-bdb3eca395e9

[2015-06-24 08:45] rictorres opened #55 "Traduzir "io.js Week of June 19th""
https://medium.com/node-js-javascript/io-js-week-of-june-19th-3f18a68dbe21

[2015-06-24 13:18] getuliojr commented on #54
Pessoal, podem revisar a tradução ?

https://medium.com/@iojs_pt/2d87f75fc09a

[2015-06-25 09:55] rictorres commented on #54
fiz minhas considerações. no mais, :+1:

[2015-06-25 11:14] gustavohenke commented on #54
Comentado!

[2015-06-25 13:17] getuliojr commented on #54
Texto revisado e publicado.

[2015-06-25 13:17] #54 closed, assigned to getuliojr

[2015-06-29 11:43] luhad commented on #33
Olá pessoal, desculpe o "noobismo". Mas ainda não entendi como posso contribuir com as traduções ou como mando review etc.
Valeu !

[2015-06-29 12:27] getuliojr commented on #33
Pode começar traduzindo a semana do dia 19 de junho @luhad está disponível para qualquer membro ajudar.

[2015-06-29 17:17] #52 closed, assigned to ruiquelhas

[2015-07-01 09:27] rogeriopvl opened #56 "Atualização do ES6.md"
Ver https://github.com/nodejs/iojs.org/commit/6decf8d6a16c32552ed94b8785e4340170f4f2ba

[2015-07-01 09:54] rogeriopvl commented on #56
PR em: https://github.com/nodejs/iojs.org/pull/392

[2015-07-01 16:21] rogeriopvl commented on #56
:+1:

[2015-07-01 16:21] #56 closed, assigned to rogeriopvl

[2015-07-02 10:26] rictorres opened #57 "Traduzir "io.js Week of June 26th""
https://medium.com/@iojs/io-js-week-of-june-26th-51ab30238256

[2015-07-05 06:09] JCMais opened #58 "Atualizar template.json"
Senhores, +1 por favor. https://github.com/nodejs/iojs.org/pull/402

[2015-07-30 14:31] getuliojr opened #59 "Traduzir Semana de 17 de Julho"
Link a traduzir:

https://medium.com/node-js-javascript/io-js-and-node-js-week-of-july-17th-6e23e8a33863

[2015-07-30 14:32] getuliojr opened #60 "Traduzir Semana de 10 de Julho"
https://medium.com/node-js-javascript/io-js-week-of-july-10th-8cf31af78d60

[2015-07-30 14:32] getuliojr opened #61 "Traduzir Semana de 3 de Julho"
https://medium.com/node-js-javascript/io-js-week-of-july-3rd-5cfa61a80cbb

[2015-07-30 14:34] getuliojr opened #62 "Temos 6 semanas de conteúdo a traduzir, como podemos dividir com todos ?"
Acredito que possamos encontrar seis pessoas para finalizar tudo e colocar este trabalho em dia ? Posso colaborar com 1, quem mais irá se habilitar ?

[2015-07-30 16:49] Glauber commented on #62
posso pegar uma tb

Em qui, 30 de jul de 2015 às 11:34, Getulio Romão Campos Junior <
notifications@github.com> escreveu:

[2015-07-30 21:53] rictorres commented on #62
Vou pegar uma no fds.

[2015-07-31 01:40] tegon commented on #62
Eu também pego uma

[2015-07-31 17:35] tegon commented on #55
Traduzido em: https://medium.com/@iojs_pt/388bbeabda86?source=your-stories
Aguardando revisão.

[2015-08-03 17:53] JCMais commented on #55
Vou postar aqui exatamente o que postei lá no medium, pois acho que caiba discussão referente ao assunto:

[2015-08-03 17:54] JCMais commented on #62
Eu estava viajando, cheguei hoje, infelizmente não posso pegar nenhuma para traduzir, mas estou disponível para ajudar com revisões.

[2015-08-06 08:31] rictorres commented on #55
@JCMais
vc se refere ao titulo dos posts? se sim, eu acho que deveriam ser traduzidos como temos feito.
mas concordo que os links (e seus respectivos titulos) dentro do post devem permanecer intactos.

@tegon  :+1:

[2015-08-06 10:43] gustavohenke commented on #55
Revisei, só arrumar umas coisinhas e publicar :+1:

[2015-08-06 12:16] tegon commented on #55
Publicado https://medium.com/@iojs_pt/io-js-semana-de-19-de-junho-388bbeabda86
valeu pessoal! :+1:

[2015-08-06 12:57] JCMais commented on #55
@rictorres me referia aos links.

[2015-08-06 12:57] #55 closed, assigned to tegon

[2015-08-13 08:19] rictorres opened #63 "Traduzir "io.js and Node.js Week of July 24th""
https://medium.com/node-js-javascript/io-js-week-of-july-24th-93238b278a8d

[2015-08-13 08:19] rictorres opened #64 "Traduzir "io.js and Node.js News — July 31st""
https://medium.com/node-js-javascript/io-js-and-node-js-news-july-31st-3ec63674bfde

[2015-08-13 08:19] rictorres opened #65 "Traduzir "io.js and Node.js News — August 7th""
https://medium.com/node-js-javascript/io-js-and-node-js-news-august-7th-49d7c3f09810

[2015-08-13 10:50] ruiquelhas commented on #64
I'm on it.

[2015-08-13 11:29] ruiquelhas commented on #64
https://medium.com/@iojs_pt/20dec25c23ea

[2015-08-13 15:11] rictorres commented on #64
:+1:

[2015-08-13 15:33] rictorres commented on #57
https://medium.com/@iojs_pt/7c3c29c5501

[2015-08-13 17:02] rictorres commented on #63
https://medium.com/@iojs_pt/3a3d1e67b84d

[2015-08-13 17:20] gustavohenke commented on #57
:+1: tudo certo

[2015-08-13 17:38] ruiquelhas commented on #63
Deixei um comentário.

[2015-08-13 19:14] gustavohenke commented on #63
por mim, :+1:

[2015-08-13 22:22] JCMais commented on #63
:+1:, btw, io.js v3 será o último io.js? O próximo já será a próxima versão do Node, correto?

[2015-08-13 22:26] JCMais commented on #57
:+1:

[2015-08-13 22:26] JCMais commented on #64
:+1:

[2015-08-14 08:03] rictorres commented on #57
https://medium.com/@iojs_pt/io-js-semana-de-26-de-junho-7c3c29c5501

[2015-08-14 08:03] #57 closed, assigned to rictorres

[2015-08-14 08:07] rictorres commented on #63
https://medium.com/@iojs_pt/not%C3%ADcias-sobre-io-js-e-node-js-24-de-julho-3a3d1e67b84d

[2015-08-14 08:09] rictorres commented on #63
@JCMais tudo indica que o próximo _major_ release (v4) será do Node.js.
esse artigo explica mais a fundo: https://medium.com/@nodesource/essential-steps-long-term-support-for-node-js-8ecf7514dbd

[2015-08-14 08:09] #63 closed, assigned to rictorres

[2015-08-14 10:18] ruiquelhas commented on #64
Published.

[2015-08-14 10:18] #64 closed, assigned to ruiquelhas

[2015-09-02 14:15] rictorres commented on #59
@nodejs/iojs-pt alguém?

[2015-09-02 14:24] rogeriopvl commented on #59
Penso que já não faz muito sentido traduzir um artigo tão antigo.

[2015-10-24 04:05] osvaldoabel commented on #65
@rictorres quero ajudar/contribuir. Tenho que publicar esse artigo traduzido no [medium](www.medium.com) ?

[2015-10-26 10:54] gustavohenke commented on #65
Olá @Kanguanda, tudo bem se você criar o rascunho na sua conta do Medium primeiro?

Assim que estiver quase aprovado o post, te envio o acesso para a conta da equipe.

[2015-10-26 10:54] #58 closed, assigned to nobody

[2016-08-18 12:25] #33 closed, assigned to nobody

[2016-08-18 12:25] #59 closed, assigned to nobody

[2016-08-18 12:25] #60 closed, assigned to nobody

[2016-08-18 12:25] #61 closed, assigned to nobody

[2016-08-18 12:25] #65 closed, assigned to nobody

[2016-12-23 17:50] sirgallifrey opened #66 "Tradução do Nodejs.org para pt-br"
Olá pessoal, eu gostaria de ver o site do node traduzido para que mais pessoas no Brasil tenham acesso as informações.

Li da documentação sobre tradução do nodejs.org que me levou para esse repo, então estou abrindo este issue para saber como poderíamos proceder.

De qualquer forma eu já fiz um fork e já comecei a traduzir, vou tentar me empenhar na tarefa, mas com ajuda fica pronto mais rápido e

[2017-01-18 00:14] brunobelarmino commented on #62
Pessoal tenho interesse em contribuir. Por onde posso começar?
Obrigado

[2017-04-11 18:43] fcampinho commented on #62
Pessoal tenho interesse em contribuir. Por onde posso começar?
Obrigado

[2017-04-13 09:05] rictorres commented on #62
a gente parou de traduzir o conteúdo há bastante tempo. na verdade, nem sei mais o propósito desse repo aqui :(

de qualquer forma vou procurar saber se faremos algo daqui pra frente.

[2017-04-13 12:13] brunobelarmino commented on #62
Beleza @rictorres. Qualquer novidade avisa ae.

[2017-08-07 15:43] jorgeluisrezende commented on #66
eu tbm to querendo participar da tradução de algumas partes...

[2017-11-14 23:02] cezaraugusto commented on #66
cc @gustavohenke existe algum membro ativo no repositorio que possa ajudar o pessoal?

[2017-11-15 00:03] jorgeluisrezende commented on #66
Parece q o repositório tá morto

[2017-11-15 04:46] gustavohenke commented on #66
Olá pessoal,
Pois é, os interessados em fazer a comunidade Node.js em português avançar sumiram mesmo!

Eu, infelizmente, me incluo parcialmente nesse grupo... posso definitivamente revisar algum PR e até responder dúvidas mais pontuais, mas ajudar redigindo/traduzindo material não tenho como atualmente.

Então, se vocês enviarem PRs ou tiverem algum texto traduzido pra publicar no nosso Medium, p

[2017-11-15 05:04] jorgeluisrezende commented on #66
Opa, então eu vou começar a traduzir o que eu puder...

[2017-11-18 15:32] TiagoDanin commented on #66
Poderia ter uma lista com vários posts que necessitam de tradução

[2018-02-07 21:49] obensource opened #68 "Node.js Internationalization Proposal"
Hi there!

On behalf of the [Node.js Community Committee](https://github.com/nodejs/community-committee), I’d like to thank you for your group’s contributions to this awesome project! 👏👏👏

I’m reaching out as a member of our new [Internationalization Working Group](https://github.com/nodejs/i18n), and we’d like to get in touch with you about our proposal around [Internationalization for Node.js](h

[2018-02-09 03:58] JCMais commented on #68
110% approval from me on this. Translations were mostly dead on our front, with that I'm pretty sure we are going to get back on track.

[2018-02-10 18:35] ruimarinho commented on #68
The new process looks great. It is simple and easy to follow. Nice work!

[2018-02-12 20:22] obensource commented on #68
@JCMais @ruimarinho Thank you both! 🎉

We're thankful for your feedback, and excited to make this happen with you! Cheers! 🍻

[2018-12-18 17:34] Drieger commented on #66
Foi criado um primeiro PR https://github.com/nodejs/nodejs.org/pull/1947 para dar inicio as traduções para o português. Se algum dos responsáveis puder revisar acho que é um primeiro passo importante

[2018-12-18 17:47] glaucia86 commented on #66
@Drieger show! Vamos que vamos! :)

[2018-12-20 00:08] glaucia86 commented on #66
@gustavohenke

Abri uma PR aqui https://github.com/nodejs/nodejs.org/pull/1947 e já foi feito o merge para a master.
No README.md comenta que se faça alguma contribuição para o projeto, para que vocês possam saber se o português está correto e em seguida falar com algum membro daqui para que possam adicionar.
Estou enviando essa mensagem aqui para saber se haveria a possibilidade em incluir eu @gl

[2018-12-20 00:12] glaucia86 opened #69 "Inclusão de Novos Membros para Realização de Traduções"
@gustavohenke @cguedes @danilovaz @ericdouglas @erickpatrick @getuliojr @Glauber @gtramontina @jpsc @JCMais @rictorres @rogeriopvl @ruimarinho @ruiquelhas @gordalina @fixe

Abri uma PR aqui https://github.com/nodejs/nodejs.org/pull/1947 e já foi feito o merge para a master.
No **README.md** comenta que se faça alguma contribuição para o projeto, para que vocês possam saber se o português está corr

[2018-12-20 01:27] gustavohenke commented on #69
Olá 🙂,
Infelizmente cheguei tarde pra revisar o PR. Mas parece estar tudo OK.

Sobre adicionar pessoas novas: acredito que tenha que ser solicitado à administração Node.js Foundation. Tenho estado um tanto inativo por aqui ultimamente, então é só um palpite...
O que posso fazer, no entanto, é adicionar vocês a este repositório. O que não dá oportunidade de fazer muito.

[2018-12-20 01:30] glaucia86 commented on #69
Sem problemas @gustavohenke. Alguma indicação de quem eu possa estar procurando do Node.js Foundation e poder pingar aqui?

[2018-12-20 02:51] gustavohenke commented on #69
Não que eu lembre. Talvez valha a pena criar um post na equipe [Localization](https://github.com/orgs/nodejs/teams/localization)?
Mas recomendo pesquisar antes. Infelizmente não tenho muita noção de como anda isso.

[2018-12-20 03:04] glaucia86 commented on #69
Blz. Vou postar lá. Muito obrigada @gustavohenke. Só me passe o link do pessoal da Localization. Pois o que está acima dá 404. Fechando a issue aqui

[2018-12-20 08:32] gustavohenke commented on #69
Ah, provavelmente dá 404 pois não és membro da fundação ainda 😅

Vou reabrir pra caso alguém saiba com quem falar sobre...

[2018-12-20 11:57] Drieger opened #70 "Tradução da documentação - pt-BR"
Uma dúvida, a documentação traduzida a partir do [Crowdin](https://crowdin.com/project/nodejs/pt-BR) fica automáticamente disponível em algum endereço? Ou existe um processo de aprovação e release dessas documentações?

[2018-12-20 16:06] glaucia86 commented on #69
Valeu @gustavohenke <3

[2018-12-20 23:49] cezaraugusto commented on #69
@glaucia86 @Drieger parabéns pela iniciativa! criei o https://github.com/nodejs/nodejs.org/pull/1953 e o https://github.com/nodejs/nodejs.org/pull/1954.

[2018-12-21 00:05] gustavohenke commented on #69
@cezaraugusto vou ir revisando quando der tempo 😃

[2018-12-21 01:10] JCMais commented on #69
@Drieger @glaucia86 @cezaraugusto eu consigo adicionar vocês neste repo, mas não tenho como fazer o mesmo para o time. Eu estou um pouco por fora de como está o processo para adicionar novos membros nos times, porém mandei uma msg no slack que geralmente tem uma galera da org ativa, e também abri essa issue no repo do i18n: https://github.com/nodejs/i18n/issues/189

[2018-12-21 01:57] glaucia86 commented on #69
Coisa Linda! Bora nos movimentar! :D

[2018-12-21 01:59] glaucia86 commented on #69
Sem problemas @JCMais. Enquanto isso, vamos adiantando nas traduções aqui. Valeu mesmo! :)

[2018-12-23 14:04] glaucia86 commented on #69
O @fhemberger fez uma solicitação por aqui: https://github.com/nodejs/nodejs.org/pull/1953.
Com base nisso, estarei fechando esse Issue.

[2018-12-23 14:04] #69 closed, assigned to nobody

[2018-12-23 14:06] glaucia86 commented on #70
@Drieger acho q deve haver algum processo de aprovação.
Tenta perguntar em inglês a respeito para os membros do Node.js Foundation.

[2018-12-24 11:08] Drieger commented on #70
Blz. To dando uma pesquisada a mais. Se não achar nada eu abro uma `issue` com a dúvida

[2019-01-02 15:24] Drieger opened #71 "[pt-BR] Website: Translate "about" session"
Algumas iniciativas para traduzir o site para pt-BR vem acontecendo nos últimos dias. Acredito que possamos organizar melhor o que falta abrindo issues relacionadas. Este primeiro tópico é dedicado a  seção "[Sobre](https://nodejs.org/pt-br/about/)" do website.

**Arquivos para tradução:**
- [ ] community.md
- [x] governance.md (https://github.com/nodejs/nodejs.org/pull/1981)
- [x] index.md (https

[2019-01-02 15:36] Drieger commented on #66
Criei um tópico separado pra seção de "[Sobre](https://nodejs.org/pt-br/about/)" do site https://github.com/nodejs/nodejs-pt/issues/71. Acho que seria legal colocar cada seção em uma issue separada, ficaria mais fácil de organizar o que falta e saber se alguém já esta trabalhando. O que acham?

[2019-01-02 19:13] glaucia86 commented on #71
@Drieger amei a criação da Issue. Assim que voltar de viagem... já vou começar a pegar alguns para traduzir!

[2019-01-02 19:43] Drieger commented on #71
Fiz a tradução do `index.md`.
Quem quiser revisar e dar sugestões: https://github.com/nodejs/nodejs.org/pull/1974

[2019-01-03 21:43] glaucia86 commented on #71
Vou dar uma olhada agora @Drieger

[2019-01-04 12:06] Drieger opened #72 "[pt-BR] Website: Translate "download" session"
Algumas iniciativas para traduzir o site para pt-BR vem acontecendo. Este tópico foi criado para organizar a tradução da seção "[Download](https://nodejs.org/pt-br/download/)" do website.

**Arquivos para tradução:**

- [x] current.md (nodejs/nodejs.org/pull/2234)
- [x] index.md (nodejs/nodejs.org#2208)
- [x] package-manager.md (nodejs/nodejs.org#2190)
- [x] releases.md (nodejs/nodejs.org/pull/223

[2019-01-10 17:04] Drieger commented on #71
Vou iniciar a tradução da seção de governança (`governance.md`)

[2019-01-10 22:23] glaucia86 commented on #71
@Drieger voltei de viagem essa semana. Devo dar prosseguimento nas traduções esse final de semana para ajudar! :)

[2019-01-11 11:50] Drieger commented on #71
Tradução do `governance.md` para revisão e sugestões: https://github.com/nodejs/nodejs.org/pull/1981

[2019-01-13 01:19] glaucia86 commented on #72
@Drieger abrirei uma PR amanhã e farei o **package-manager.md**

https://github.com/nodejs/nodejs.org/blob/master/locale/en/download/package-manager.md

[2019-01-17 02:52] glaucia86 opened #73 "Including on README.md new Members"
Oi @gustavohenke
Posso estar abrindo uma PR para incluir o nome de novos membros que estão realizando as traduções e ajudando na internacionalização para o português (incluso o meu nome)?

[https://github.com/nodejs/nodejs-pt](https://github.com/nodejs/nodejs-pt)

[2019-01-17 12:02] JCMais commented on #73
@glaucia86 você deve 😄

Se for possível, também mude de io.js para Node.js, o Readme está um "tantinho" desatualizado.

[2019-01-17 14:37] glaucia86 commented on #73
Farei agora.

[2019-01-17 15:41] glaucia86 commented on #73
@JCMais feito. #74

[2019-01-17 17:41] glaucia86 commented on #73
Issue resolvida no PR #76

[2019-01-17 17:41] #73 closed, assigned to nobody

[2019-01-21 11:01] glaucia86 opened #78 "Habilitar C.I Travis no repositório - Nodejs-pt"
@gustavohenke @JCMais e @Drieger

Estou abrindo essa issue aqui com a intenção de poder habilitar o C.I no Travis e poder criar alguns requisitos de commits, criações de branchs e aprovações de PR's.
Gostaria de saber com vocês, se me autorizam a realizar essas mudanças no **Settings** desse repositório e colocar C.I no repo.
Assim que eu tiver a aprovação de vocês, criarei uma nova PR para poder

[2019-01-21 11:16] Drieger commented on #78
Acho a ideia bem legal, seria pra validar que tipo de situação. Os PRs de tradução, propriamente ditos, são feitos no nodejs.org :+1:

[2019-01-21 11:18] glaucia86 commented on #78
bem lembrado..... então não tem necessidade de colocar no travis. Mas, habilitei aqui q só podemos aprovar um determinado PR se tiver pelo menos a aprovação de 2 pessoas do time nodejs-pt.

[2019-01-21 11:30] glaucia86 commented on #78
Vou fechar a issue. Pois notei aqui q como nao se trata de um código em alguma linguagem. Nao tem como habilitar o travis com algumas regras de execução aqui.
E uma vez que já passa pelo pente fino do team core do node, como bem lembrado pelo @Drieger, realmente nao há necessidade de criar um arquivo .travis.yml nessa repo.
Porém, habilitei na parte de **Settings** desse repositório, algumas regra

[2019-01-21 11:30] #78 closed, assigned to nobody

[2019-04-11 20:20] maugravena commented on #72
Boa tarde,

Como está o andamento da tradução?
Como faço para ajudar?

[2019-04-12 12:07] Drieger commented on #72
@maugravena, os passos são os seguintes

1. Clonar o repositório do https://github.com/nodejs/nodejs.org
2. Copiar o conteúdo que deseja traduzir da pasta `locale/en` para a pasta `locale/pt-br`
3. Realizar as traduções e abrir um PR no repositório do nodejs/nodejs.org
4. Marcar @nodejs/nodejs-pt  para realizar a revisão do PR

Depois de feitas eventuais correções e aprovado o PR é incorporado ao

[2019-04-13 17:16] maugravena commented on #72
Muito obrigado @Drieger

Ficou bem clara sua explicação!

[2019-04-16 15:18] maugravena commented on #72
Olá pessoal,

Fiz a tradução da página package-manager.md.
revisão e sugestões em: [nodejs/nodejs.org#2190](https://github.com/nodejs/nodejs.org/pull/2190)

Abraços

[2019-04-16 16:41] Drieger commented on #72
@maugravena muito obrigado pela contribuição. Acho que logo mais o pessoal já realiza a revisão. Já marquei o documento como traduzido e linkei o PR

[2019-04-25 23:09] maugravena commented on #72
Olá,

Mais uma tradução, agora da página index.md
revisão e sugestões: [nodejs/nodejs.org#2208](https://github.com/nodejs/nodejs.org/pull/2208)

[2019-05-18 16:42] maugravena commented on #72
Fala pessoal,

Agora para finalizar essa sessão
Revisões para: [nodejs/nodejs.org#2234](https://github.com/nodejs/nodejs.org/pull/2234) / [nodejs/nodejs.org#2235](https://github.com/nodejs/nodejs.org/pull/2235)

Abraços

[2019-05-20 11:21] Drieger commented on #72
Ótimo trabalho @maugravena. Assim que os dois PR forem aprovados e colocados em produção podemos finalizar este tópico :+1:

[2019-05-22 10:54] Drieger commented on #72
Atualizei as labels da issue, uma vez que todas as páginas foram colocadas em produção. Agradecemos a todos pelo esforço nessa tarefa.

[2019-06-10 14:44] glaucia86 opened #80 "Portuguese (Brazil) Translation Progress"
## Lista de Mantenedores

* @glaucia86
* @cezaraugusto
* @drieger
* @khaosdoctor
* @gustavohenke
* @maugravena
* @icarcal

## Para Novos Tradutores

Para traduzir as páginas:

1. Antes de iniciar uma tradução, verifique se alguém já solicitou a sua página na lista de verificação e nos comentários abaixo.
2. Comente abaixo com o nome da página que você gostaria de realizar a sua contribuição e cons

[2019-06-10 15:41] Dougwan commented on #80
@glaucia86 Gostaria de estar realizando a tradução da página About, mais precisamento o index.md.

Atribuído. Agora basta seguir os seguintes passos:

1. Clonar o repositório do **https://github.com/nodejs/nodejs.org**
2. Copiar o conteúdo que deseja traduzir da pasta **locale/en** para a pasta **locale/pt-br**
3. Realizar as traduções e abrir um PR no repositório do **nodejs/nodejs.org**
4. Marca

[2019-06-10 15:42] woliveiras commented on #80
@glaucia86, eu gostaria de traduzir toda a parte do `4. Get-Involved`

[2019-06-10 15:49] eduardofg87 commented on #80
@glaucia86 gostaria de traduzir o `5.1. HTTP`

[2019-06-10 15:50] glaucia86 commented on #80
Atribuído. Agora basta seguir os seguintes passos:

1. Clonar o repositório do **https://github.com/nodejs/nodejs.org**
2. Copiar o conteúdo que deseja traduzir da pasta **locale/en** para a pasta **locale/pt-br**
3. Realizar as traduções e abrir um PR no repositório do **nodejs/nodejs.org**
4. Marcar **@nodejs/nodejs-pt** para realizar a revisão do PR

Depois de feitas eventuais correções e aprov

[2019-06-10 15:51] glaucia86 commented on #80
Atribuído. Agora basta seguir os seguintes passos:

1. Clonar o repositório do **https://github.com/nodejs/nodejs.org**
2. Copiar o conteúdo que deseja traduzir da pasta **locale/en** para a pasta **locale/pt-br**
3. Realizar as traduções e abrir um PR no repositório do **nodejs/nodejs.org**
4. Marcar **@nodejs/nodejs-pt** para realizar a revisão do PR

Depois de feitas eventuais correções e aprov

[2019-06-10 16:15] TiagoDanin commented on #80
Lembrando que também temos já em progresso a tradução da documentação via Crowdin. Segue o link https://crowdin.com/project/nodejs, todos podem colaborar 🎉

[2019-06-10 16:27] maugravena commented on #80
Boa @glaucia86, foi uma ótima decisão deixar a organização parecida com a do React

[2019-06-10 16:32] matheuseabra commented on #80
Gostaria de traduzir a página `community.md`, poderiam colocar meu username ao lado? :smile:

[2019-06-10 18:36] pehprado commented on #80
Gostaria de traduzir o 5.2 REPL

[2019-06-10 18:43] danielbdias commented on #80
@glaucia86, posso pegar dois itens do 3. Docs: index.md e es6.md

Terminando esses, posso fazers os outros desta seção (3.1 e 3.2)

[2019-06-10 18:44] Drieger commented on #80
@matheuseabra

Atribuído. Agora basta seguir os seguintes passos:

1. Clonar o repositório do https://github.com/nodejs/nodejs.org
2. Copiar o conteúdo que deseja traduzir da pasta locale/en para a pasta locale/pt-br
3. Realizar as traduções e abrir um PR no repositório do nodejs/nodejs.org
4. Marcar @nodejs/nodejs-pt para realizar a revisão do PR

Depois de feitas eventuais correções e aprovado o

[2019-06-10 18:46] Drieger commented on #80
@pehprado

Atribuído. Agora basta seguir os seguintes passos:

1. Clonar o repositório do https://github.com/nodejs/nodejs.org
2. Copiar o conteúdo que deseja traduzir da pasta locale/en para a pasta locale/pt-br
3. Realizar as traduções e abrir um PR no repositório do nodejs/nodejs.org
4. Marcar @nodejs/nodejs-pt para realizar a revisão do PR

Depois de feitas eventuais correções e aprovado o PR

[2019-06-10 18:47] Drieger commented on #80
Atribuído. Agora basta seguir os seguintes passos:

1. Clonar o repositório do https://github.com/nodejs/nodejs.org
2. Copiar o conteúdo que deseja traduzir da pasta locale/en para a pasta locale/pt-br
3. Realizar as traduções e abrir um PR no repositório do nodejs/nodejs.org
4. Marcar @nodejs/nodejs-pt para realizar a revisão do PR

Depois de feitas eventuais correções e aprovado o PR é incorpora

[2019-06-10 19:26] AugustoCalaca commented on #80
Olá, @glaucia86. Gostaria de traduzir a página governance.md

[2019-06-10 19:50] glaucia86 commented on #80
Pessoal... o comentário do @TiagoDanin é pertinente. Se puderem depois de realizar os PR's e depois de passar pela nossa verificação e ter o PR aprovado. Depois migrar para o Crowdin seria o melhor cenário. Ou o que acha @TiagoDanin de nós como Membros, pegarmos as traduções finalizadas pela Comunidade e aprovadas depois de um code review mandar para o Crowdin? O que acha?

cc: @Drieger

[2019-06-10 19:53] glaucia86 commented on #80
Atribuído. Agora basta seguir os seguintes passos:

1. Clonar o repositório do https://github.com/nodejs/nodejs.org
2. Copiar o conteúdo que deseja traduzir da pasta locale/en para a pasta locale/pt-br
3. Realizar as traduções e abrir um PR no repositório do nodejs/nodejs.org
4. Marcar @nodejs/nodejs-pt para realizar a revisão do PR

Depois de feitas eventuais correções e aprovado o PR é incorpora

[2019-06-11 01:32] khaosdoctor commented on #80
Então, na minha opinião seria bacana manter a ordem... Colocar em dois lugares diferentes deixaria mais difícil... Seria bacana focar ou no Crowdin ou aqui, se não eu acredito que teríamos um retrabalho

[2019-06-11 01:34] khaosdoctor commented on #80
Aproveitando o comentário, @glaucia86 | @Drieger gostaria de pegar toda a seção 3.1 e 3.2

[2019-06-11 02:13] TiagoDanin commented on #80
Não é possível pois os documentos são diferentes, os listando no issue são referente ao website [nodejs/nodejs.org](https://github.com/nodejs/nodejs.org). Os disponível na Crowdin são da [documentação official](https://github.com/nodejs/node/tree/master/doc) e em breve também teremos o do novo website [nodejs/nodejs.dev](https://github.com/nodejs/nodejs.dev). Não sei informar até que ponto os arqu

[2019-06-11 02:33] khaosdoctor commented on #80
A versão mais utilizada atualmente está sendo qual? A que o pessoal mais acessa

[2019-06-11 03:58] danielbdias commented on #80
@khaosdoctor podemos trocar figurinhas sobre as traduções do 3.1 e 3.2?

Pretendia atacar elas também após o meu PR passar pelo processo de revisão: https://github.com/nodejs/nodejs.org/pull/2255 pela galera (@nodejs/nodejs-pt).

[2019-06-11 11:59] AugustoCalaca commented on #80
@glaucia86 , a parte de governança já havia sido traduzida em 15jan pelo @Drieger .
Portanto, agora vou pegar about/releases e about/resourses.

[2019-06-11 12:14] Drieger commented on #80
@AugustoCalaca atribui as novas páginas.

[2019-06-11 12:16] Drieger commented on #80
@khaosdoctor tu quer pegar toda as duas seções? Ou quer dividir elas já que tem mais gente interessada @danielbdias

[2019-06-12 11:54] banidrum commented on #80
@glaucia86 Olá, gostaria de pegar todas as páginas da seção 2.5

[2019-06-12 13:33] khaosdoctor commented on #80
@Drieger então vamos fazer assim, eu pego o 3.1 de `abi-stability.md` até `dont-block-the-event-loop.md` e o `dependencies.md` e ai o @danielbdias pode pegar os demais tópicos, o que acha?

[2019-06-13 20:23] icarcal commented on #80
@glaucia86 @khaosdoctor @Drieger gostaria de fazer a tradução da seção 5.3 advanced, os arquivos não são tão grandes, então acho que é tranquilo pegar a seção

[2019-06-14 12:19] VacariGabriel commented on #80
@glaucia86 Olá, gostaria de traduzir a página 5.3. advanced: streams/how-to-use-fs-create-write-stream.md

[2019-06-14 12:22] rodrigooler commented on #80
@glaucia86 @khaosdoctor gostaria de traduzir **3.2. Meta/Topics: Link - dependencies.md**.

[2019-06-14 15:08] thalees commented on #80
@glaucia86 e @khaosdoctor, pensando nos niveis de prioridade, gostaria de traduzir `trademark.md` pertencente a página de About.

[2019-06-14 17:57] khaosdoctor commented on #80
Pessoal, @icarcal @VacariGabriel @rodrigooler @thalees, por enquanto eu ainda estou sem a permissão aqui pra editar essa issue, já abri uma [nova issue](https://github.com/nodejs/nodejs.org/issues/2257) no repo oficial (se quiserem me ajudar a dar um up nela para ir mais rápido 😅) para que eu possa ser adicionado aqui e ai eu adiciono todos vocês na lista oficial.

Por ora, enquanto só a @glaucia8

[2019-06-14 18:21] banidrum commented on #80
Eu posso pegar toda a parte do 2.5.

[2019-06-14 18:55] khaosdoctor commented on #80
Atualizando

[2019-06-14 20:02] icarcal commented on #80
Já mandei o thumbs up por lá.

[2019-06-15 17:44] thisisddzin commented on #80
Oi @glaucia86  e @khaosdoctor , quero traduzir a seção 2.4. Obg.

[2019-06-16 20:12] khaosdoctor commented on #80
@adenilson-santos atualizando o comentário aqui

[2019-06-17 23:58] thalesbruno commented on #80
Oi, @glaucia86! Gostaria de pegar a página blocking-vs-non-blocking.md da seção 3 Docs > 3.1 Guides

[2019-06-18 09:24] ftonato commented on #80
Hello @glaucia86! Eu gostaria de traduzir toda a parte do **5.7. errors**. Tks

[2019-06-18 15:14] math00 commented on #80
@glaucia86, gostaria de me responsabilizar pela tradução de 5.11. javascript-conventions > how-to-create-default-parameters-for-functions.md

[2019-06-18 17:26] khaosdoctor commented on #80
Opa @thalesbruno essa parte já está comigo :) dá uma olhada [nesta resposta](https://github.com/nodejs/nodejs-pt/issues/80#issuecomment-502206183) que tem a galera atualizada até aqui.

[2019-06-18 17:27] khaosdoctor commented on #80
@ftonato e @math00 Estou colocando vocês no [comentário de atualização](https://github.com/nodejs/nodejs-pt/issues/80#issuecomment-502206183) assim que me liberarem eu atualizo a issue :)

[2019-06-18 19:05] glaucia86 commented on #80
@khaosdoctor o pessoal do nodejs.org são lentos para responder... tagguei outros 2 membros para ver se agiliza a sua entrada no nodejs.org

[2019-06-19 00:08] khaosdoctor commented on #80
Conseguimos! @glaucia86 estou dentro :D

[2019-06-19 00:08] khaosdoctor commented on #80
Vou atualizar a issue aqui.

----

# Update

A toda a galera que tinha comentado antes:

- @brumone
- @adenilson-santos
- @icarcal
- @danielbdias
- @VacariGabriel
- @rodrigooler
- @ftonato
- @math00
- @thalees

Seus nomes já foram adicionados nos respectivos arquivos, por favor, quando a PR for criada para fazer a atualização, marquem um dos mantenedores para atualizar o issue com o número dela. 😃

[2019-06-19 10:29] ftonato commented on #80
Hello @glaucia86! Eu gostaria de traduzir a parte do **5.12. other-resources**. Tks

[2019-06-19 11:37] dionatanmarques commented on #80
@glaucia86, gostaria de traduzir o item **5.4. child-processes**.

[2019-06-19 18:31] xavierleonardo commented on #80
Olá. Gostaria de contribuir na tradução do item, **5.5. command-line: how-to-get-colors-on-the-command-line.md** - **como-ter-a-linha-de-comando-colorida**

[2019-06-19 21:56] elainemattos commented on #80
Olá, gostaria de traduzir **5.9. getting-started: what-is-require.md** e se possivel **npm/what-is-npm.md** também! Obrigada!

[2019-06-20 02:40] khaosdoctor commented on #80
@ftonato @xavierleonardo @dionatanmarques @elainemattos Atualizarei seus nomes, podem iniciar :)

[2019-06-20 02:47] khaosdoctor commented on #80
Galera, lembrando a **todos** que estão contribuindo aqui. Não esqueçam de abrir suas PRs no repositório **nodejs.org** com as mudanças que fizeram no arquivo.

Depois de abertas as PRs, marquem eu ou qualquer mantenedor do repositório para que possamos atualizar os números! Isso é muito importante para manter a rastreabilidade.

[2019-06-20 18:23] romulo94 commented on #80
@glaucia86, gostaria de traduzir 5.11. javascript-conventions > using-ECMA5-in-nodejs.md

[2019-06-20 19:07] khaosdoctor commented on #80
Atualizado @romulo94, lembre-se de marcar qualquer um dos mantenedores na sua PR para que possamos linkar ela aqui

[2019-06-22 06:49] romulo94 commented on #80
@glaucia86, gostaria de traduzir 5.11. javascript-conventions > what-are-the-built-in-timer-functions.md

[2019-06-22 13:47] romulo94 commented on #80
Eu já fiz a PR, e marquei lá

[2019-06-22 14:45] 0xthierry commented on #80
@khaosdoctor, gostaria de traduzir 5.11 javascript-conventions - what-is-json.md

[2019-06-22 20:08] pehprado commented on #80
@glaucia86, eu gostaria de traduzir [5.6. cryptography](https://github.com/nodejs/nodejs.org/tree/master/locale/en/knowledge/cryptography)

[2019-06-22 22:15] ftonato commented on #80
Hello @glaucia86! Eu gostaria de traduzir a parte do **5.11. javascript-conventions/what-are-truthy-and-falsy-values.md**; Tks

[2019-06-23 15:13] 0xthierry commented on #80
@glaucia86, gostaria de traduzir **5.9 getting-started - globals-in-node-js.md**

[2019-06-23 15:28] icarcal commented on #80
@thierrysantoos1 @ftonato @pehprado issue atualizada, podem fazer a tradução.
Não esqueçam de marcar os mantenedores na PR.

[2019-06-23 15:31] 0xthierry commented on #80
Beleza, já realizei a PR. @icarcal

[2019-06-24 17:49] khaosdoctor commented on #80
Atualizei a PR com as PRs

[2019-06-24 22:06] romulo94 commented on #80
@glaucia86, posso pegar essa parte para traduzir?

[2019-06-24 22:20] icarcal commented on #80
@romulo94 atualizado.

[2019-06-25 19:43] katiaseuzebio commented on #80
@glaucia86 eu poderia traduzir os arquivos 2.1. Advisory-board:  index.md e listening-to-the-community.md?

[2019-06-26 18:06] khaosdoctor commented on #80
@katiaseuzebio Atualizado! Não se esqueça de marcar um de nós na PR para podermos atualizar

[2019-06-26 19:32] thalesbruno commented on #80
Eu gostaria de traduzir a seção: 5.8. file-system

[2019-06-26 21:54] maugravena commented on #80
Olá amigos,

Quero ficar responsável pelas páginas `how-to-parse-command-line-arguments.md` e `how-to-prompt-for-command-line-input.md` da seção `5.5. command-line`

Como está o andamento das traduções?
Se precisarem de algum tipo de ajuda para organizar e revisar podem me marcar!!

Abraços

cc @khaosdoctor @icarcal

[2019-06-27 01:45] elainemattos commented on #80
Olá, gostaria de traduzir **working-groups.md**! Algumas PRs que são da parte de knowledge foram fechadas segundo a [issue 2278](https://github.com/nodejs/nodejs.org/issues/2278), os tópicos de knowledge não precisarão de tradução, então?

[2019-06-27 07:58] ftonato commented on #80
Hello @elainemattos, conforme referenciado - https://github.com/nodejs/nodejs.org/issues/2278#issuecomment-506152368, apenas a parte de `locale/XX/knowledge/other-resources/` não será traduzida ;)

[2019-06-28 01:09] romulo94 commented on #80
@ftonato  mas porque o tópido 5.11  javascript-conventions > using-ECMA5-in-nodejs.md foi fechada?

[2019-06-28 08:30] ftonato commented on #80
Beunas @romulo94, tudo certo?

Este tópico fora apagado, pelo mesmo motivo que o `what-are-truthy-and-falsy-values.md` e outros que traduzi.

A medida que fazemos as traduções e eles os reviews, acabam por perceber que algumas coisas já se tornaram obsoletas ou que já não faz sentido ser mantido por eles - *nodejs team* - algo que facilmente é encontrado em outras boas documentações como MDN.

Dei

[2019-06-28 10:39] thalesbruno commented on #80
esqueci de marcar: @glaucia86 @khaosdoctor @icarcal

[2019-06-30 05:51] vbertazzo commented on #80
@glaucia86 Gostaria de traduzir `how-to-use-util-inspect.md` da seção `5.9 getting started`.

[2019-06-30 15:36] khaosdoctor commented on #80
Eu perguntei para o pessoal na issue sobre a seção 5.11. Acredito que possa ser um conjunto de temas que não serão traduzidos

Assim como o @ftonato disse [aqui](https://github.com/nodejs/nodejs-pt/issues/80#issuecomment-506651385), muitas vezes os arquivos de tradução só são analisados quando mandamos a PR para essa tradução, então todo esse processo é meio em tempo real. Por isso não dá para ser

[2019-06-30 15:44] khaosdoctor commented on #80
@thalesbruno Atualizado! Não esqueça de marcar na sua PR

[2019-06-30 15:44] khaosdoctor commented on #80
Atualizado!

[2019-06-30 21:24] thalesbruno commented on #80
Certo! Obg!

[2019-06-30 23:17] elainemattos commented on #80
Olá, gostaria de traduzir os outros tópicos sobre _npm_, sendo eles: **npm/how-to-access-module-package-info.md** &&  **npm/what-is-the-file-package-json.md** ! @glaucia86 @khaosdoctor

[2019-07-01 14:55] khaosdoctor commented on #80
Atualizado!

[2019-07-01 17:14] fernandoors commented on #80
Olá @glaucia86  gostaria de traduzir o what-is-the-arguments-object.md

[2019-07-03 15:32] khaosdoctor commented on #80
@fernandoors Atualizado! Não esqueça de nos marcar na sua PR

[2019-07-10 02:08] ThayssaRocha commented on #80
Olá, gostaria de traduzir o welcome-google @glaucia86 @khaosdoctor @icarcal

[2019-07-10 16:35] khaosdoctor commented on #80
@ThayssaRocha 	feito!

[2019-07-11 05:37] nelsonmfinda commented on #71
@Drieger Como vai?
Gostaria de contribuir na tradução, pelo que vi, as secções marcadas nesta issue já foram traduzidas certo?

[2019-08-28 16:43] fernandoors commented on #80
Hey Turma ( @khaosdoctor, @icarcal , @glaucia86 ) , gostaria de traduzir o how-to-debug-nodejs-applications.md e what-are-callbacks.md.

[2019-08-29 01:39] khaosdoctor commented on #80
@fernandoors adicionado!

[2019-09-07 19:29] saulonunesdev commented on #80
Fala Galera ( @khaosdoctor, @icarcal , @glaucia86 ), Traduzi os seguintes arquivos:
knowledge/command-line/how-to-parse-command-line-arguments.md
knowledge/command-line/how-to-prompt-for-command-line-input.md
knowledge/index.md

PR: https://github.com/nodejs/nodejs.org/pull/2536

[2019-09-08 18:32] khaosdoctor commented on #80
Atualizado!

[2019-09-08 18:33] khaosdoctor commented on #80
Opa @maugravena! Desculpe eu acabei não vendo seu comentário e o @SauloNunes pegou e traduziu esses dois arquivos. Você poderia pegar outro arquivo por favor? Me desculpe pela falta de atenção

[2019-09-08 18:44] saulonunesdev commented on #80
opa blz @khaosdoctor vlw pelas dicas, algumas palavras foram dificeis de trabalhar pq por exemplo na minha opinião acho melhor deixar array do q traduzir pra matriz, mas ai é uma questão de padrão da comunidade.

vlw

[2019-09-11 10:52] G1lmar commented on #7
Alguém pode me enviar um convite keybase?

[2019-09-25 01:39] benitezdouglas commented on #80
@glaucia86 @khaosdoctor @icarcal
Gostaria de traduzir
5.10. intermediate:
- how-to-log.md

[2019-09-25 14:45] khaosdoctor commented on #80
@benitezdouglas atualizado!

[2019-09-30 20:30] JCMais commented on #80
@glaucia86 @khaosdoctor @icarcal  Pretendo traduzir os seguintes tópicos do Getting Started:

[2019-10-01 16:33] maugravena commented on #80
Posso ficar com a sessão de "Get-Involved"?
Não sei se @woliveiras começou as traduções, caso esteja parado eu gostaria de ficar com essa parte

@glaucia86 @khaosdoctor @Drieger

[2019-10-01 23:17] khaosdoctor commented on #80
@JCMais atualizado
@maugravena atualizado vou colocar vocês dois lá e verificar com o @woliveiras e qualquer coisa dividimos

[2019-10-02 00:02] adrianoapj commented on #80
Gostaria de ficar com o arquivo the-process-module.md da seção "Getting Started"

[2019-10-02 12:19] khaosdoctor commented on #80
@adrianoapj Atualizado

@maugravena Falei com o @woliveiras e ele liberou as partes dele para que você possa fazer :)

Eu também liberei 2 das minhas para que outras pessoas possam pegar

[2019-10-02 19:55] caioreis123 commented on #80
Olá pessoal, gostaria de traduzir a página welcome-redhat.md da seção 2.2.
@glaucia86 @khaosdoctor @icarcal

[2019-10-02 23:02] maugravena commented on #80
Na seção `4. Get-Involved` apenas a parte **node-meetups.md** não está traduzida!

Sendo assim quero ficar com esses:

**dont-block-the-event-loop.md
domain-postmortem.md**

@khaosdoctor @glaucia86

[2019-10-03 00:24] adrianoapj commented on #80
Por algum motivo eu não consigo marcar o perfil indicado no post em minha PR (https://github.com/nodejs/nodejs.org/pull/2637)
@khaosdoctor

[2019-10-03 18:40] khaosdoctor commented on #80
@adrianoapj você pode copiar e colar o @ direto que ele marca a galera mesmo assim :)

[2019-10-03 18:45] khaosdoctor commented on #80
@maugravena atualizado!

[2019-10-06 01:57] FelipeAlves99 commented on #80
Olá, gostaria de ficar com o arquivo **transitions.md** da seção **Community**.  @glaucia86  @khaosdoctor

[2019-10-06 02:37] icarcal commented on #80
@FelipeAlves99 atualizado.

[2019-10-07 17:05] saulonunesdev commented on #80
Pessoal o **Index.md** em **Knowledge** já foi atualizado.

e Gostaria de pegar os seguintes arquivos para tradução:

**/knowledge/HTTP/servers/how-to-create-a-HTTP-server.md
/knowledge/HTTP/servers/how-to-create-a-HTTPS-server.md
/knowledge/HTTP/servers/how-to-handle-multipart-form-data.md
/knowledge/HTTP/servers/how-to-read-POST-data.md**

[2019-10-07 20:05] khaosdoctor commented on #80
@SauloNunes Atualizado

[2019-10-07 23:57] saulonunesdev commented on #80
Pessoal, boa noite, não quero poluir a issue, mas queria tirar uma duvida básica de tradução:
 do seguinte arquivo [how-to-create-a-HTTP-server.md](https://github.com/nodejs/nodejs.org/blob/master/locale/en/knowledge/HTTP/servers/how-to-create-a-HTTP-server.md)

- > The response object is how we send the headers and contents of the response back to the user making the request.

1. > O objeto de re

[2019-10-08 03:41] khaosdoctor commented on #80
Faça a tradução com o que você achar mais interessante, depois de abrir a PR podemos fazer a análise e ai você pode, inclusive, colocar esse questionamento na própria PR. Porque ai não perdemos o acompanhamento da review :)

[2019-10-13 00:04] banidrum commented on #80
Boa noite pessoal, se puderem atualizar meu user lá no 2.5 Module, eu agradeço! Em breve estarei fazendo PR's :P

[2019-10-13 03:37] khaosdoctor commented on #80
Feito

[2019-10-15 23:26] maugravena commented on #80
Pessoal, não sei pq mas a marcação @nodejs/nodejs-pt parece que não está funcionando, então vou pedir ajuda por aqui mesmo para que vcs possam dar uma força na revisão das PRs [#2683](https://github.com/nodejs/nodejs.org/pull/2683) e [#2685](https://github.com/nodejs/nodejs.org/pull/2685/)

obrigado

[2019-10-16 15:01] khaosdoctor commented on #80
@maugravena pode me marcar diretamente se for o caso :)

De qualquer forma eu estou em watch pra todas as PRs do repositório então eu acabo recebendo alguma notificação

[2019-10-22 08:07] evelynstender commented on #80
Olá @glaucia86 @khaosdoctor!
Gostaria de realizar a tradução de 4 itens do **Uncategorized**:

**an-easy-way-to-build-scalable-network-programs.md
bnoordhuis-departure.md
development-environment.md
evolving-the-node-js-brand.md**

(BTW o link do Uncategorized na descrição ta redirecionando para NPM e o Vulnerability para Video)

[2019-10-22 16:54] khaosdoctor commented on #80
Atualizado

[2019-10-22 18:11] WeslleyNasRocha commented on #80
Olá @glaucia86 @khaosdoctor  eu gostaria de pegar alguns itens da categoria `Vulnerability`

- v8-memory-corruption-stack-overflow.md
- september-2019-openssl-updates.md
- september-2019-openssl-no-updates.md

[2019-10-23 16:45] khaosdoctor commented on #80
@WeslleyNasRocha cara eu não achei esses arquivos na lista:

september-2019-openssl-updates.md
september-2019-openssl-no-updates.md

[2019-10-23 17:03] PAHJunior commented on #80
Olá @khaosdoctor , gostaria de traduzir a pagina individual-membership.md

[2019-10-26 15:46] WeslleyNasRocha commented on #80
Então, esse dois arquivos estão na master mas não tem na lista e nem estão traduzidos

[2019-10-29 21:31] khaosdoctor commented on #80
Já adicionei os dois na lista

[2019-10-29 21:32] khaosdoctor commented on #80
@PAHJunior atualizei seu nome

[2019-12-26 15:32] vanribeiro commented on #71
Gostaria de colaborar com a tradução do tópicos:
**privacy.md
releases.md**
É possível?

[2020-01-13 12:33] eduardo-tell commented on #80
Ola! Gostaria de fazer a tradução do item: **bert-belder-libuv-lxjs-2012.md**, é possível?
( Será a minha primeira experiência em um projeto público do github )

[2020-01-13 12:35] PAHJunior commented on #80
Opa Eduardo, pode sim cara, achei que eu iria conseguir fazer mas fiquei sem tempo, mas pode fazer sim, quando eu mandei a solicitação para o Lucas

Enviado do Email<https://go.microsoft.com/fwlink/?LinkId=550986> para Windows 10

De: Eduardo Tell<mailto:notifications@github.com>
Enviado:segunda-feira, 13 de janeiro de 2020 09:33
Para: nodejs/nodejs-pt<mailto:nodejs-pt@noreply.github.com>
Cc:PAHJu

[2020-01-21 19:18] JCMais commented on #80
Acabei de remover o meu nome dos seguintes tópicos:
[code]

Não cheguei a começar a tradução dos mesmos, quem tiver disponibilidade pode ficar a vontade para pegá-los.

[2020-01-24 18:42] khaosdoctor commented on #80
Opa @eduardo-tell vou colocar seu nome lá :)

[2020-04-01 19:08] pedroSoaresll commented on #80
Gostaria de colaborar com 2.2 Annoucements > nodejs-certified-developer-program.md, é só colar e começar ou precisa indicar meu nome no tópico desde já?

[2020-04-02 01:41] khaosdoctor commented on #80
Opa @pedroSoaresll acabei de colocar o seu nome lá! É só partir pra cima

[2020-04-20 15:27] khaosdoctor commented on #80
# Importante

A partir do dia 1º de maio, as traduções serão movidas para a plataforma oficial do Crowdin, ou seja, issues como esta não serão mais a fonte da verdade para traduções.

Todas as PRs **que já estão abertas** permanecerão abertas e vão seguir o fluxo normal de tradução através delas, todas as novas PRs **serão rejeitadas**.

Temos uma [discussão](https://github.com/orgs/nodejs/teams/t

[2020-04-20 15:45] khaosdoctor commented on #80
# Chamada para PRs

Abaixo estou listando os nomes de todas as pessoas que estão listadas na issue mas que nÃo possuem ou não marcaram suas PRs como abertas por aqui

@matheuseabra
@Douglaslt17
@AugustoCalaca
@thalees
@katiaeuzebio
@ThayssaRocha
@caioreis123
@PAHJunior
@adenilson-santos
@banidrum
@eduardo-tell
@WeslleyNasRocha
@maugravena
@danielbdias
@rodrigooler
@eduardofg87
@SauloNunes
@icarcal

[2020-04-21 13:59] TiagoDanin commented on #80
@AugustoCalaca https://github.com/nodejs/nodejs.org/pull/2256#issuecomment-616794766

Atualizado, obrigado pela sua dedicação. :)

[2020-04-24 09:58] thalesbruno commented on #80
PR já mesclada:
https://github.com/nodejs/nodejs.org/pull/2310

[2020-04-25 14:53] TiagoDanin commented on #80
Atualizado 🎆

[2020-05-03 20:39] khaosdoctor commented on #80
Pessoal, estou fechando essa issue por conta da mudança que tivemos, todos vamos mover agora para o Crowdin, veja a referência: https://github.com/nodejs/nodejs-pt/issues/80#issuecomment-616627117

[2020-05-03 20:39] #80 closed, assigned to gustavohenke, khaosdoctor, icarcal

[2020-06-20 12:31] LeuAlmeida commented on #71
@Drieger posso colaborar com o arquivo **working-groups.md**?

[2020-06-22 15:14] Drieger commented on #71
Oi @LeuAlmeida, pode colaborar sim sugiro dar uma olhada no https://github.com/nodejs/nodejs-pt/issues/80#issuecomment-616627117 pois as traduções estão sendo movidas para o crowdin

[2020-06-22 15:14] Drieger commented on #71
estou fechando a issue, para manter todas as traduções centralizadas no crowding, conforme https://github.com/nodejs/nodejs-pt/issues/80#issuecomment-616627117

[2020-06-22 15:14] #71 closed, assigned to nobody

[2020-06-22 15:15] Drieger commented on #72
estou fechando a issue, para manter todas as traduções centralizadas no crowding, conforme #80 (comment)

[2020-06-22 15:15] #72 closed, assigned to nobody

[2021-04-15 22:17] PatriciaFeio opened #81 "Tradução da documentação - pt-pt"
Olá, comecei a traduzir pt-pt alguma da documentação do Node (api-docs) e tenho as seguintes questões:
- como funciona o processo de aprovação da tradução?
- no futuro poderei aprovar alguma tradução?
- existe algum grupo de tradução para português de Portugal?

[2021-04-15 22:21] saulonunesdev commented on #81
oi @PatriciaFeio se não me falha a memória a forma de traduzir mudou, atualmente eh feita por outra plataforma invez de um pr no github.

https://github.com/nodejs/i18n/blob/master/guides/CROWDIN.md

@nodejs/nodejs-pt

[2021-04-15 22:57] PatriciaFeio commented on #81
Olá @saulonunesdev, já comecei a traduzir através do Crowdin, mas não percebo como funciona o processo de aprovação da tradução (se estiver correta, claro).

[2021-04-16 06:44] saulonunesdev commented on #81
@khaosdoctor @glaucia86  vocês tem como dar um help?

[2021-04-16 10:23] PatriciaFeio commented on #81
@saulonunesdev não mencionei que já contactei @glaucia86 pelo twitter e foi ela quem me sugeriu que abrisse um issue no Github.

[2021-04-16 11:47] TiagoDanin commented on #81
É feito de duas formas, há revisores para cada linguagem, eles podem tornar uma string de tradução como a correta. A outra formar e que os próprios tradutores podem votar na melhor string para a tradução.
Se um revisor não definiu uma string como aprovada, a string com mais upvotes vai ser a escolhida como a aprovada automaticamente.

Você também pode usar o botão de downvote para indicar que há u

[2021-04-16 14:11] PatriciaFeio commented on #81
Olá @TiagoDanin, obrigada pela explicação. Aguardo então que alguém aprove as traduções que faço; qual será o prazo médio para essa aprovação? E recebo alguma mensagem se alguma tradução precisar de ser melhorada?

[2021-04-22 20:29] khaosdoctor commented on #81
Isso mesmo, me desculpe! O modelo que estávamos usando antes se assemelha um pouco mais com o modelo que estamos fazendo no site do TypeScript, porém agora estamos no crowdin realizando traduções por ali.

[2021-04-22 20:46] saulonunesdev commented on #81
@khaosdoctor acho q tem q dar uma atualizada no README do projeto.

[2021-04-22 21:11] TiagoDanin commented on #81
Não é preciso aguardar, você pode continuar contribuindo.
A atualização de string só **não** vai para produção, se houve outra string com mais upvote ou aprovada. Se houve somente uma string, automaticamente essa string é considera como a correta naquele momento.

Atualmente varia entre as linguagens, na Português-Brasil eu (Referente somente a minha pessoal, pode ter outros revisores com casos di

[2021-04-22 21:43] khaosdoctor commented on #81
@saulonunesdev vou atualizar lá obrigado pelo heads up

[2021-05-17 17:39] mhdawson opened #82 "Rename primary branch to main"
We are going through all of the node.js repositories to rename the primary branch to main. Please see nodejs/node#33864 for more context.

I don't think there should be any issues for the contributors to this repo. I'd like to do the remain this Friday May 22nd unless there are any concerns.

Please let me know in this issue before May 22nd if there are any concerns, otherwise I'll go ahead and do

[2021-05-27 13:55] mhdawson commented on #82
Branch renamed, closing.

[2021-05-27 13:55] #82 closed, assigned to nobody

[2022-01-10 06:41] obensource opened #83 "Archiving nodejs-pt (node's i18n process has changed)"
Dear **nodejs-pt** team,

Thank you for being part of the Node.js community. 🙏

The i18n Working Group is currently in the process of archiving node's l10n repositories since we've moved all translation efforts to the Crowdin platform over the past few years. We're planning on archiving all l10n repositories that follow the previous method that was established during the io.js fork on **01-14-22**

[2022-01-10 07:43] gustavohenke commented on #83
Hello @obensource! I think we're done over here, there has been zero activity for the last couple of years.
Thanks for looking after the official procedures!

[2022-01-10 13:42] obensource commented on #83
Hey @gustavohenke 👋

Thanks a million for letting me know, I really appreciate it – and thank you for all your great work! 🙏

Cheers! 🍻
–Ben